# 강남구 공모전

---

## 데이터 로딩 (API)

In [1]:
import pandas as pd
import numpy as np

import pickle
import requests
import json
from datetime import datetime

In [2]:
with open('data/config.pkl', 'wb') as file:
    key = '476542676c61727931313343714b7a74' #본인 키 신청 후 변수에 할당해서 쓰시면 됩니다
    pickle.dump(key, file)

In [3]:
with open('data/config.pkl', 'rb') as file:
    key = pickle.load(file)

### 서울시 강남구 모범음식점 지정 현황

https://data.seoul.go.kr/dataList/OA-11295/S/1/datasetView.do

|변수명|타입|변수설명|값설명|
|:--:|:--:|:--:|:--:|
|KEY|String(필수)|인증키|OpenAPI 에서 발급된 인증키|
|TYPE|String(필수)|요청파일타입|xml : xml, xml파일 : xmlf, 엑셀파일 : xls, json파일 : json|
|SERVICE|String(필수)|서비스명|GnModelRestaurantDesignate|
|START_INDEX|INTEGER(필수)|요청시작위치|정수 입력 (페이징 시작번호 입니다 : 데이터 행 시작번호)|
|END_INDEX|INTEGER(필수)|요청종료위치|정수 입력 (페이징 끝번호 입니다 : 데이터 행 끝번호)|
|UPSO_NM|STRING(선택)|업소명|업소명|
|MAIN_EDF|STRING(선택)|주된음식|주된음식|
|ADMDNG_NM|STRING(선택)|행정동명|행정동명|

In [4]:
header = {
    'KEY': key,
    'TYPE': 'json',
    'SERVICE': 'GnModelRestaurantDesignate',
    'START_INDEX': 1,
    'END_INDEX': 1000
}

url = 'http://openAPI.gangnam.go.kr:8088'
for v in header.values():
    url += '/' + str(v)

response = requests.get(url)
if response.status_code == 200:
    response_json = json.loads(response.content)[header['SERVICE']]
    print(response_json['RESULT']['MESSAGE'] + f''' (데이터 크기: {response_json['list_total_count']})''')
else:
    print("error")

정상 처리되었습니다 (데이터 크기: 316)

In [5]:
designate_df = pd.DataFrame(response_json['row'])
designate_df.head()

,CGG_CODE,ASGN_YY,ASGN_SNO,APPL_YMD,ASGN_YMD,UPSO_NM,SITE_ADDR_RD,SITE_ADDR,PERM_NT_NO,SNT_UPTAE_NM,MAIN_EDF,TRDP_AREA,ADMDNG_NM,GRADE_FACIL_GBN,UPSO_SITE_TELNO
0,3220000,2014,0160,20141006,20141006,이도곰탕,"서울특별시 강남구 논현로94길 29-5, 지상1층,지상2층 (역삼동)",서울특별시 강남구 역삼동 671번지 17호,3220000-101-2001-24197,한식,곰탕,194.41,역삼1동,상수도전용,02 5010738
1,3220000,2021,139,20181001,20211116,솥내음 스타필드 코엑스몰점,"서울특별시 강남구 영동대로 513, 코엑스 지하1층 O-107호 (삼성동)",서울특별시 강남구 삼성동 159번지 코엑스,3220000-101-2020-00643,한식,직화불백,74.56,삼성1동,,
2,3220000,2010,0024,20100210,20100210,스시히로바,"서울특별시 강남구 삼성로 620, 블래스톤리조트 지상1층 (삼성동)",서울특별시 강남구 삼성동 70번지 블래스톤리조트,3220000-101-2002-00383,일식,초밥,216.56,삼성1동,상수도전용,02 5155511
3,3220000,2016,0089,20161125,20161125,서백자 간장게장,"서울특별시 강남구 삼성로 542, 지상2층 (삼성동, 석천빌딩)",서울특별시 강남구 삼성동 151번지 4호 석천빌딩 2층,3220000-101-2012-00416,중국식,간장게장,260.30,삼성1동,,02 34536008
4,3220000,2016,0084,20161125,20161125,주)봉산집,"서울특별시 강남구 삼성로 564, 지상2층,지상3층 (삼성동)",서울특별시 강남구 삼성동 145번지 19호,3220000-101-2011-01048,한식,차돌박이,452.95,삼성1동,,

In [6]:
designate_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 316 entries, 0 to 315
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CGG_CODE         316 non-null    object
 1   ASGN_YY          316 non-null    object
 2   ASGN_SNO         316 non-null    object
 3   APPL_YMD         316 non-null    object
 4   ASGN_YMD         316 non-null    object
 5   UPSO_NM          316 non-null    object
 6   SITE_ADDR_RD     316 non-null    object
 7   SITE_ADDR        316 non-null    object
 8   PERM_NT_NO       316 non-null    object
 9   SNT_UPTAE_NM     316 non-null    object
 10  MAIN_EDF         316 non-null    object
 11  TRDP_AREA        316 non-null    float64
 12  ADMDNG_NM        316 non-null    object
 13  GRADE_FACIL_GBN  316 non-null    object
 14  UPSO_SITE_TELNO  316 non-null    object
dtypes: float64(1), object(14)
memory usage: 37.2+ KB

|출력명|출력설명|
|:--:|:--:|
|CGG_CODE|시군구코드|
|ASGN_YY|지정년도|
|ASGN_SNO|지정번호|
|APPL_YMD|신청일자|
|ASGN_YMD|지정일자|
|UPSO_NM|업소명|
|SITE_ADDR_RD|소재지도로명|
|SITE_ADDR|소재지지번|
|PERM_NT_NO|허가(신고)번호|
|SNT_UPTAE_NM|업태명|
|MAIN_EDF|주된음식|
|TRDP_AREA|영업장면적(㎡)|
|ADMDNG_NM|행정동명|
|GRADE_FACIL_GBN|급수시설구분|
|UPSO_SITE_TELNO|소재지전화번호|

### 서울시 강남구 모범음식점 신청 현황

https://data.seoul.go.kr/dataList/OA-11314/S/1/datasetView.do

|변수명|타입|변수설명|값설명|
|:--:|:--:|:--:|:--:|
|KEY|String(필수)|인증키|OpenAPI 에서 발급된 인증키|
|TYPE|String(필수)|요청파일타입|xml : xml, xml파일 : xmlf, 엑셀파일 : xls, json파일 : json|
|SERVICE|String(필수)|서비스명|GnModelRestaurantApply|
|START_INDEX|INTEGER(필수)|요청시작위치|정수 입력 (페이징 시작번호 입니다 : 데이터 행 시작번호)|
|END_INDEX|INTEGER(필수)|요청종료위치|정수 입력 (페이징 끝번호 입니다 : 데이터 행 끝번호)|
|UPSO_NM|STRING(선택)|업소명|업소명|
|MAIN_EDF|STRING(선택)|주된음식|주된음식|
|ADMDNG_NM|STRING(선택)|행정동명|행정동명|

In [7]:
header = {
    'KEY': key,
    'TYPE': 'json',
    'SERVICE': 'GnModelRestaurantApply',
    'START_INDEX': 1,
    'END_INDEX': 1000
}

url = 'http://openAPI.gangnam.go.kr:8088'
for v in header.values():
    url += '/' + str(v)

response = requests.get(url)
if response.status_code == 200:
    response_json = json.loads(response.content)[header['SERVICE']]
    print(response_json['RESULT']['MESSAGE'] + f''' (데이터 크기: {response_json['list_total_count']})''')
else:
    print("error")

정상 처리되었습니다 (데이터 크기: 713)

In [8]:
apply_df = pd.DataFrame(response_json['row'])
apply_df.head()

,CGG_CODE,ASGN_YY,ASGN_SNO,APPL_YMD,ASGN_YMD,ASGN_CANCEL_YMD,IPSB_YMD,UPSO_NM,SITE_ADDR_RD,SITE_ADDR,PERM_NT_NO,SNT_UPTAE_NM,MAIN_EDF,TRDP_AREA,ADMDNG_NM,GRADE_FACIL_GBN
0,3220000,2010,0012,20100210,20100210,20151106,,고수,"서울특별시 강남구 논현로149길 12, (논현동,지상1층)",서울특별시 강남구 논현동 7번지 9호 지상1층,3220000-101-2009-00214,한식,,92.40,논현1동,
1,3220000,2014,0160,20141006,20141006,,,이도곰탕,"서울특별시 강남구 논현로94길 29-5, 지상1층,지상2층 (역삼동)",서울특별시 강남구 역삼동 671번지 17호,3220000-101-2001-24197,한식,곰탕,194.41,역삼1동,상수도전용
2,3220000,2021,139,20181001,20211116,,,솥내음 스타필드 코엑스몰점,"서울특별시 강남구 영동대로 513, 코엑스 지하1층 O-107호 (삼성동)",서울특별시 강남구 삼성동 159번지 코엑스,3220000-101-2020-00643,한식,직화불백,74.56,삼성1동,
3,3220000,2010,0024,20100210,20100210,,,스시히로바,"서울특별시 강남구 삼성로 620, 블래스톤리조트 지상1층 (삼성동)",서울특별시 강남구 삼성동 70번지 블래스톤리조트,3220000-101-2002-00383,일식,초밥,216.56,삼성1동,상수도전용
4,3220000,2016,0089,20161125,20161125,,,서백자 간장게장,"서울특별시 강남구 삼성로 542, 지상2층 (삼성동, 석천빌딩)",서울특별시 강남구 삼성동 151번지 4호 석천빌딩 2층,3220000-101-2012-00416,중국식,간장게장,260.30,삼성1동,

In [9]:
apply_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 713 entries, 0 to 712
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CGG_CODE         713 non-null    object
 1   ASGN_YY          713 non-null    object
 2   ASGN_SNO         713 non-null    object
 3   APPL_YMD         713 non-null    object
 4   ASGN_YMD         713 non-null    object
 5   ASGN_CANCEL_YMD  713 non-null    object
 6   IPSB_YMD         713 non-null    object
 7   UPSO_NM          713 non-null    object
 8   SITE_ADDR_RD     713 non-null    object
 9   SITE_ADDR        713 non-null    object
 10  PERM_NT_NO       713 non-null    object
 11  SNT_UPTAE_NM     713 non-null    object
 12  MAIN_EDF         713 non-null    object
 13  TRDP_AREA        713 non-null    float64
 14  ADMDNG_NM        713 non-null    object
 15  GRADE_FACIL_GBN  713 non-null    object
dtypes: float64(1), object(15)
memory usage: 89.2+ KB

|출력명|출력설명|
|:--:|:--:|
|CGG_CODE|시군구코드|
|ASGN_YY|지정년도|
|ASGN_SNO|지정번호|
|APPL_YMD|신청일자|
|ASGN_YMD|지정일자|
|ASGN_CANCEL_YMD|취소일자|
|IPSB_YMD|불가일자|
|UPSO_NM|업소명|
|SITE_ADDR_RD|소재지도로명|
|SITE_ADDR|소재지지번|
|PERM_NT_NO|허가(신고)번호|
|SNT_UPTAE_NM|업태명|
|MAIN_EDF|주된음식|
|TRDP_AREA|영업장면적(㎡)|
|ADMDNG_NM|행정동명|
|GRADE_FACIL_GBN|급수시설구분|

### 서울시 강남구 모범음식점 취소 현황

https://data.seoul.go.kr/dataList/OA-11313/S/1/datasetView.do

|변수명|타입|변수설명|값설명|
|:--:|:--:|:--:|:--:|
|KEY|String(필수)|인증키|OpenAPI 에서 발급된 인증키|
|TYPE|String(필수)|요청파일타입|xml : xml, xml파일 : xmlf, 엑셀파일 : xls, json파일 : json|
|SERVICE|String(필수)|서비스명|GnModelRestaurantCancel|
|START_INDEX|INTEGER(필수)|요청시작위치|정수 입력 (페이징 시작번호 입니다 : 데이터 행 시작번호)|
|END_INDEX|INTEGER(필수)|요청종료위치|정수 입력 (페이징 끝번호 입니다 : 데이터 행 끝번호)|
|UPSO_NM|STRING(선택)|업소명|업소명|
|MAIN_EDF|STRING(선택)|주된음식|주된음식|
|ADMDNG_NM|STRING(선택)|행정동명|행정동명|

In [10]:
header = {
    'KEY': key,
    'TYPE': 'json',
    'SERVICE': 'GnModelRestaurantCancel',
    'START_INDEX': 1,
    'END_INDEX': 1000
}

url = 'http://openAPI.gangnam.go.kr:8088'
for v in header.values():
    url += '/' + str(v)

response = requests.get(url)
if response.status_code == 200:
    response_json = json.loads(response.content)[header['SERVICE']]
    print(response_json['RESULT']['MESSAGE'] + f''' (데이터 크기: {response_json['list_total_count']})''')
else:
    print("error")

정상 처리되었습니다 (데이터 크기: 385)

In [11]:
cancel_df = pd.DataFrame(response_json['row'])
cancel_df.head()

,CGG_CODE,ASGN_YY,ASGN_SNO,APPL_YMD,ASGN_YMD,ASGN_CANCEL_YMD,UPSO_NM,SITE_ADDR_RD,SITE_ADDR,PERM_NT_NO,SNT_UPTAE_NM,ASGN_CANCEL_WHY,MAIN_EDF,TRDP_AREA,ADMDNG_NM,GRADE_FACIL_GBN
0,3220000,2010,0012,20100210,20100210,20151106,고수,"서울특별시 강남구 논현로149길 12, (논현동,지상1층)",서울특별시 강남구 논현동 7번지 9호 지상1층,3220000-101-2009-00214,한식,영업주 변경(미지정),,92.40,논현1동,
1,3220000,2016,0133,20161125,20161125,20191128,두어마리,"서울특별시 강남구 봉은사로114길 38, (삼성동)",서울특별시 강남구 삼성동 166번지 3호,3220000-101-1995-14693,한식,평가점수 미달(50점),순두부,79.97,삼성1동,상수도전용
2,3220000,2000,0075,20001001,20001130,20050203,한교방 서울면옥,"서울특별시 강남구 학동로45길 8, (논현동)",서울특별시 강남구 논현동 117번지 8호,3220000-101-1993-20364,한식,영업자지위승계,정식,119.68,논현2동,상수도전용
3,3220000,2010,0005,20100210,20100210,20110823,한교방 서울면옥,"서울특별시 강남구 학동로45길 8, (논현동)",서울특별시 강남구 논현동 117번지 8호,3220000-101-1993-20364,한식,상호변경,,119.68,논현2동,상수도전용
4,3220000,2010,0025,20100210,20100210,20201106,이마스시,"서울특별시 강남구 논현로168길 22, 계진빌딩 지상1층 (신사동)",서울특별시 강남구 신사동 600번지 4호 계진빌딩,3220000-101-2004-01082,일식,평가불가(휴업),생선회,165.00,신사동,상수도전용

In [12]:
cancel_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 385 entries, 0 to 384
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CGG_CODE         385 non-null    object
 1   ASGN_YY          385 non-null    object
 2   ASGN_SNO         385 non-null    object
 3   APPL_YMD         385 non-null    object
 4   ASGN_YMD         385 non-null    object
 5   ASGN_CANCEL_YMD  385 non-null    object
 6   UPSO_NM          385 non-null    object
 7   SITE_ADDR_RD     385 non-null    object
 8   SITE_ADDR        385 non-null    object
 9   PERM_NT_NO       385 non-null    object
 10  SNT_UPTAE_NM     385 non-null    object
 11  ASGN_CANCEL_WHY  385 non-null    object
 12  MAIN_EDF         385 non-null    object
 13  TRDP_AREA        385 non-null    float64
 14  ADMDNG_NM        385 non-null    object
 15  GRADE_FACIL_GBN  385 non-null    object
dtypes: float64(1), object(15)
memory usage: 48.2+ KB

|출력명|출력설명|
|:--:|:--:|
|CGG_CODE|시군구코드|
|ASGN_YY|지정년도|
|ASGN_SNO|지정번호|
|APPL_YMD|신청일자|
|ASGN_YMD|지정일자|
|ASGN_CANCEL_YMD|취소일자|
|UPSO_NM|업소명|
|SITE_ADDR_RD|소재지도로명|
|SITE_ADDR|소재지지번|
|PERM_NT_NO|허가(신고)번호|
|SNT_UPTAE_NM|업태명|
|ASGN_CANCEL_WHY|지정취소사유|
|MAIN_EDF|주된음식|
|TRDP_AREA|영업장면적(㎡)|
|ADMDNG_NM|행정동명|
|GRADE_FACIL_GBN|급수시설구분|

In [13]:
designate_df.shape, apply_df.shape, cancel_df.shape

((316, 15), (713, 16), (385, 16))

In [14]:
result = {
    'time': datetime.now().strftime('%Y-%m-%d %H:%M:%S'),
    'data': {'지정': designate_df, '신청': apply_df, '취소': cancel_df}
}

with open('data/result.pkl', 'wb') as file:
    pickle.dump(result, file)