In [1]:
import pandas as pd
import numpy as np
import requests
from datetime import datetime
import json
import pickle

In [23]:
with open('data/result.pkl', 'rb') as file:
    result = pickle.load(file)

In [24]:
result['data']['지정']

,CGG_CODE,ASGN_YY,ASGN_SNO,APPL_YMD,ASGN_YMD,UPSO_NM,SITE_ADDR_RD,SITE_ADDR,PERM_NT_NO,SNT_UPTAE_NM,MAIN_EDF,TRDP_AREA,ADMDNG_NM,GRADE_FACIL_GBN,UPSO_SITE_TELNO
0,3220000,2014,0160,20141006,20141006,이도곰탕,"서울특별시 강남구 논현로94길 29-5, 지상1층,지상2층 (역삼동)",서울특별시 강남구 역삼동 671번지 17호,3220000-101-2001-24197,한식,곰탕,194.41,역삼1동,상수도전용,02 5010738
1,3220000,2021,139,20181001,20211116,솥내음 스타필드 코엑스몰점,"서울특별시 강남구 영동대로 513, 코엑스 지하1층 O-107호 (삼성동)",서울특별시 강남구 삼성동 159번지 코엑스,3220000-101-2020-00643,한식,직화불백,74.56,삼성1동,,
2,3220000,2010,0024,20100210,20100210,스시히로바,"서울특별시 강남구 삼성로 620, 블래스톤리조트 지상1층 (삼성동)",서울특별시 강남구 삼성동 70번지 블래스톤리조트,3220000-101-2002-00383,일식,초밥,216.56,삼성1동,상수도전용,02 5155511
3,3220000,2016,0089,20161125,20161125,서백자 간장게장,"서울특별시 강남구 삼성로 542, 지상2층 (삼성동, 석천빌딩)",서울특별시 강남구 삼성동 151번지 4호 석천빌딩 2층,3220000-101-2012-00416,중국식,간장게장,260.30,삼성1동,,02 34536008
4,3220000,2016,0084,20161125,20161125,주)봉산집,"서울특별시 강남구 삼성로 564, 지상2층,지상3층 (삼성동)",서울특별시 강남구 삼성동 145번지 19호,3220000-101-2011-01048,한식,차돌박이,452.95,삼성1동,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
311,3220000,2023,313,20231010,20231123,모스가든,"서울특별시 강남구 논현로139길 12, 지상1층 (논현동)",서울특별시 강남구 논현동 30번지 6호,3220000-101-2012-00814,한식,파스타,332.00,논현1동,,
312,3220000,2010,0058,20100210,20100210,삼성물산(주)10꼬르소꼬모서울카페,"서울특별시 강남구 압구정로 416, (청담동,지하1층)",서울특별시 강남구 청담동 79번지 0호 지하1층,3220000-101-2008-00093,경양식,이태리,350.00,청담동,상수도전용,02 30181010
313,3220000,2023,299,20231010,20231123,현대낙지집,"서울특별시 강남구 압구정로14길 11, (신사동)",서울특별시 강남구 신사동 550번지 3호,3220000-101-1985-17501,한식,"낙지, 감자탕",92.03,신사동,상수도전용,02 5461022
314,3220000,2010,0061,20100730,20100915,초심,"서울특별시 강남구 언주로172길 55, 지상2층 (신사동)",서울특별시 강남구 신사동 662번지 6호,3220000-101-2005-00412,경양식,"곱창, 부대찌개",211.26,신사동,상수도전용,02 5174433
315,3220000,2016,0172,20161125,20161125,아야진생태찌개 역삼점,"서울특별시 강남구 논현로 329, 지상1,2,3층 (역삼동)","서울특별시 강남구 역삼동 797번지 11호 지상1,2,3,층",3220000-101-2013-00416,한식,생태찌개,253.28,역삼2동,,

In [25]:
result['data']['지정']['UPSO_NM'].unique()

array(['이도곰탕', '솥내음 스타필드 코엑스몰점', '스시히로바', '서백자 간장게장', '주)봉산집', '더드림',
       '국민한우집 삼성역점(구 칠프로칠백식당 포스코점)', '이즈미', '홍영재 장수 청국장', '등대',
       '(주)아구본가첨벙대치', '김태준의 탕탕집', '불이아', '경성면옥', '밀밭', '안동찜닭 해물떡찜',
       '니뽕내뽕(코엑스점)', '세화정육', '신의주 부대찌개 삼성점', '지호한방삼계탕', '차이나타운',
       '오발탄(주)오발탄에프에스', '가원', '대흥정 엘에이 갈비', '아야진생태찌개', '수림복국', '평가옥',
       '바오바오', '(주)곰바위', '황소곱창', '삼성동 명인등심', '프로간장게장', '해랑',
       '본가 신의주 찹쌀순대', '나무(대치점)', '이조식당', '공수간 코엑스몰', '명동칼국수', '도모다찌',
       '예가낙지마을', '동경', '토말', '엠브이샤브샤브', '조수사', '토담골', '시골진지상',
       '무교동유정낙지청담점', '가득드림', '미로정', '한촌설렁탕 선릉역점', '유장원보쌈', '강남어시장',
       '원조닭칼국수', '국고집', '김수사', '박대박', '청담항', '뉴욕바닷가재청담점', '무탄', '전주명가',
       '계승집', '명동칼국수샤브샤브', '천미미', '명가한식', '바다를 훔친 언니', '아오끼',
       '(주)도곡본점 해우리', '송화', '하동관', '두릉도원 북촌순두부', '토담골49번지', '연화산',
       '천하일품추어탕', '내림손 삼계탕', '아구본가 첨벙 신사본점', '명동관', '우밀가 상록점', '무화잠',
       '금강수림', '진수사', '햇무리', '옛날집', '양문(역삼점)', '두껍삼 역삼직영점',
       '케르반레스토랑 코엑스점', '놀부보쌈과 부대찌게 삼성1호', '스카이라운지', '브래서리', '하꼬네',
       '아시안라이브', '새마을식당', '영이네', '구이가', '영암집', '만두의 전설', '언양불고기',
       '리브팜 압구정', '골목길', '꽃지삼성', '초심한우 정육식당', '노다지 삼겹살', '사조참치삼성점',
       '호보식당', '(주)청담푸드빌(청담복집)(신의주찹쌀순대)', '보슬보슬 압구정본점', '남도랑', '논골집',
       '해남집', '윤화돈까스 기사식당', '카페비스타', '와인앤다인', '대운정', '남도사계고운님', '주식회사 원강',
       '무등산', '오레노카츠', '(주)아리양', '이남장영동점', '수서골목냉면', '일미원', '최가네버섯매운탕칼국수',
       '오미가', '(주)정성담에프앤비', '한일관', '옛날집 도산사거리점', '연타발', '한우리외식산업(주)',
       '마산아구찜', '화기애애(강남1호점)', '봉우리', '애란궁', '신복면관', '고궁수라간 코엑스점', '소풍',
       '쭈불앤쭈불', '(주)광양불고기본가', '통영집', '영동올뱅이집', '노란상 소갈비 강남직영점', '신의주찹쌀순대',
       '백억하누', '황금돼지', '반하는 보쌈&밥상', '압구정 샤브샤브', '금수복국 압구정점', '리엔', '코너스톤',
       '더라운지', '더팀버하우스', '대가방', '잰부닥', '우리돈삼이', '수백당 삼성동점', '석기정', '유다까',
       '어방참치', '베이징코야강남점', '바다풍경', '일공', '어원', '신촌설렁탕', '현 우동', '수담',
       '셀럽 앤 어？', '홍백', '하우마라탕', '대도식당', '해초록 사랑', '정참치', '하루',
       '그림나베 학동역점', '흥부이가', '교대이층집강남역점', '닭갈비두목', '향촌면옥', '(주)도라후구현복집',
       '파파호', '주식회사곰바우', '와인주막차차 압구정점', '배정철 어도', '텐파 마라탕 마라샹꿔', '다정한상',
       '주식회사 양인환대(본점)', '분짜라붐 역삼점', '백년육일집', '대찬횟집', '(주)닭으로가', '막둥이냉면',
       '그랜드키친', '아선재', '압구정제주집(狎鷗亭濟州緝)', '추풍령칼삼겹살', '순리대로', '동천홍 학동점',
       '닭한마리 감자탕', '취향의공간', '봉추찜닭주공공이', '대가', '남도구들 한정식', '대우식당',
       '(주)평가옥 푸드시스템 역삼점', '예담한우', '강가', '꽃새우 영번지', '강남목장', '루안',
       '리미티드 하누 Limited HANU', '삼식이감자탕', '임고집 한우＆보쌈마을', '뒤끝', '사리원',
       '임고집 한우＆보쌈마을(2호점)', '(주)타워차이', '창포', '하영호신촌설렁탕 압구정역점',
       '직화전문점 미스터 왕왕', '남순남순대국 본점', '멘무샤', '춘천명물닭갈비', '취영루', '남서울민물장어',
       '크래버대게나라', '봉산집', '마포숯불갈비', '반룡산', '진대감', '강남수랏간', '청자골',
       '단스시(논현점)', '광양불고기 수서', '하이보', '군산회집', '대한민국', '김셰프의 도시어부',
       '(주)중앙해장', '금강식당', '한국돈거래소', '지하오', '갓텐스시강남점', '(주)해담채강남', '(주)신정',
       '(주)우동명가기리야마본진', '구레스시', '주식회사 에도긴', '가시리', '완산골명가(일원점)', '교토',
       '본가', '대청뼈다귀감자탕', '청담갯벌장어', '코리아하우스', '고센', '진성식당', '한티옥',
       '봉추찜닭압구정로데오점', '옛골 원조 양평해장국', '대청가든', '평양면옥', '두코 매봉역점', '이화원',
       '본죽', '룽청', '한옥집 김치찜 GFC몰점', '일등추어탕', '별난횟집 역삼직영점', '사량도', '린카',
       '진주성', '화통집 강남자곡점', '육전식당 4호점', '본가신의주찹쌀순대전문점', '봉평착한메밀',
       '한방대가삼계탕', '본초강목', '우림황소양곱창', '뱃고동', '서울덮밥&김치찜', '만족오향족발 역삼점',
       '명인등심(청담유통)', '신단설렁탕', '마쯔가제', '육갑식당', '더 플레이스 코엑스점', '미사리밀빛초계국수',
       '하영호신촌설렁탕', '천향', '신사정육식당', '분틀', '수하동 본점', '월출산', '원조본점닭한마리',
       '신촌설렁탕 강남구청역점', '안뜨레', '무교동홍낙(수서점)', '로즈힐 강남파이낸스센터점', '르사이공 코엑스몰점',
       '오늘은 닭', '영천영화', '이영근 만두', '풍성옥', '한쉐프', '지강한식당 압구정본점', '도원',
       '차슈밍', '순대실록 삼성역점', '용수사', '효미역 압구정점', '기무', '밀란', '모스가든',
       '삼성물산(주)10꼬르소꼬모서울카페', '현대낙지집', '초심', '아야진생태찌개 역삼점'], dtype=object)

In [26]:
request_id = 14569639
url = f'https://place.map.kakao.com/main/v/{request_id}'
response = requests.get(url)
comments = []
if response.status_code == 200:
    comment_data = json.loads(response.content)['comment']
    comment_count = int(comment_data['kamapComntcnt'])
    overall_score = int(comment_data['scoresum']) / int(comment_data['scorecnt'])
    for c in comment_data['list']:
        comments.append({'점수': c['point'], '댓글': c['contents'], '작성일': c['date']})
        request_comment_id = c['commentid']
    print(f'총 댓글 개수: {comment_count}개, 평점: {np.round(overall_score, 2)}점')
else:
    print('error')

총 댓글 개수: 169개, 평점: 4.11점

In [27]:
while len(comments) < comment_count:
    url = f'https://place.map.kakao.com/commentlist/v/{request_id}/{request_comment_id}'
    response = requests.get(url)
    if response.status_code == 200:
        comment_data = json.loads(response.content)['comment']
        for c in comment_data['list']:
            try:
                comments.append({'점수': c['point'], '댓글': c['contents'], '작성일': c['date']})
            except:
                comments.append({'점수': c['point'], '댓글': '', '작성일': c['date']})
            request_comment_id = c['commentid']
    else:
        print('error')

In [28]:
pd.DataFrame(comments)

     점수                                                 댓글          작성일
0     5                                                     2024.04.22.
1     2  너무 짜요. 처음엔 먹을만했는데. 절반정도 먹고나선 너무 짜서 짜증날 정도임. 맛 ...  2024.04.14.
2     5  곰탕 정말 빨리나옵니다. 주문하고 5분도 안되서 음식 받은거 같아요. 정말 맛있고 ...  2024.04.11.
3     5  수육이랑 곰탕먹었어요\n곰탕은 주문하자마자 빨리 나왔어요\n고기도 많이 들어가있고\...  2024.04.08.
4     5  세종대왕의 이름 (이도 李裪)에 걸맞는 \n진한 맛의 곰탕입니다\n마침 제옆에 외국...  2024.04.02.
..   ..                                                ...          ...
164   4                                                 곰탕  2016.09.29.
165   4                                  소수육46. 면+죽 추가10.   2016.09.09.
166   2                             공장형.\n밥대신 국수.\n잘 모르겠다.  2016.08.03.
167   4                                                     2016.07.10.
168   5  (수육+장칼국수+죽) 3명에서 이렇게 먹으니 딱좋네.\n복잡한 역삼역에 주차공간도 ...  2016.03.15.

[169 rows x 3 columns]

[카카오맵 API]
1. 식당 id를 찾는다.

[카카오맵 크롤링]

2. 해당 식당 id를 url로 하여 requests를 보낸다.
3. 해당 response에서 댓글을 찾은 뒤 수집한다. (3개)
4. 마지막 댓글의 id를 찾아 새로운 url을 생성하여 requests를 보낸다.
5. 해당 response에서 댓글을 찾은 뒤 수집한다. (5개)
6. 모든 댓글을 수집할 때까지 4 - 5 단계를 반복한다.

---

In [29]:
df = result['data']['지정']

In [30]:
df['UPSO_NM']

0                    이도곰탕
1          솥내음 스타필드 코엑스몰점
2                   스시히로바
3                서백자 간장게장
4                   주)봉산집
              ...
311                  모스가든
312    삼성물산(주)10꼬르소꼬모서울카페
313                 현대낙지집
314                    초심
315           아야진생태찌개 역삼점
Name: UPSO_NM, Length: 316, dtype: object

In [31]:
def find_string(txt):
    if '주)' in txt:
        target_index = txt.index('주)')
        if target_index > len(txt) // 2:
            return txt[:txt.index('주)') - 1]
        else:
            return txt[txt.index('주)') + 2:]
    else:
        return txt

df['UPSO_NM'].apply(find_string).str.split('(').str[0].str.rstrip('점')

0               이도곰탕
1      솥내음 스타필드 코엑스몰
2              스시히로바
3           서백자 간장게장
4                봉산집
           ...
311             모스가든
312      10꼬르소꼬모서울카페
313            현대낙지집
314               초심
315       아야진생태찌개 역삼
Name: UPSO_NM, Length: 316, dtype: object

In [32]:
key = '923dc9604178f2a7aa0979ae38029a34'
kakao_result = []
df['keyword'] = df['UPSO_NM'].apply(find_string).str.split('(').str[0].str.rstrip('점')
keywords = df['keyword'].tolist()

def generate_address(txt):
    try:
        if txt.split(' ')[5]:
            if txt.split(' ')[5][-1] == '호':
                return txt.split(' ')[2] + ' ' + txt.split(' ')[4].rstrip('번지') + '-' + txt.split(' ')[5].rstrip('호')
            else:
                return txt.split(' ')[2] + ' ' + txt.split(' ')[4].rstrip('번지')
        else:
            return txt.split(' ')[2] + ' ' + txt.split(' ')[4].rstrip('번지')
            
    except:
        return False

In [33]:
df = df.drop('id', axis=1)

KeyError: "['id'] not found in axis"

In [34]:
generate_address(df.loc[309, 'SITE_ADDR'])

'역삼동 797-3'

In [44]:
kakao_result = []
rows = []
ids = []
# for idx, keyword in enumerate(keywords[309:310]):
for idx, keyword in enumerate(keywords):
    url = 'https://dapi.kakao.com/v2/local/search/keyword.json' 
    params = {'query': keyword, 'page': 1}
    headers = {"Authorization": f'''KakaoAK {key}'''}
    response = requests.get(url, params=params, headers=headers)
    this_result = []
    this_id = []
    for row in json.loads(response.content)['documents']:
        rows.append(row)
        cond_gangnam = row['address_name'].split(' ')[0] == '서울' and row['address_name'].split(' ')[1] == '강남구'
        cond_addr = generate_address(df.loc[idx, 'SITE_ADDR']) == row['address_name'][7:]
        cond_road_addr = df.loc[idx, 'SITE_ADDR_RD'].replace('특별시', '').split(',')[0] == row['road_address_name']
        if cond_gangnam and (cond_addr or cond_road_addr):
            this_result.append({
                '검색어': keyword,
                '상호명': row['place_name'],
                '지번주소': row['address_name'],
                '도로명주소': row['road_address_name'],
                'id': row['id']
            })
            this_id.append(row['id'])
    ids.append(this_id if this_id else None)
#     if len(this_result) == 1:
#         df.loc[idx, 'id'] = this_result[0]['id']
# kakao_df = pd.DataFrame(kakao_result)

In [45]:
keyword

'아야진생태찌개 역삼'

In [54]:
this_result

[{'검색어': '아야진생태찌개 역삼',
  '상호명': '아야진생태찌개 역삼직영점',
  '지번주소': '서울 강남구 역삼동 797-11',
  '도로명주소': '서울 강남구 논현로 329',
  'id': '19974580'},
 {'검색어': '아야진생태찌개 역삼',
  '상호명': '아야진생태찌개 역삼직영점 주차장',
  '지번주소': '서울 강남구 역삼동 797-11',
  '도로명주소': '',
  'id': '787815828'}]

In [46]:
response.text

'{"documents":[{"address_name":"서울 강남구 역삼동 797-11","category_group_code":"FD6","category_group_name":"음식점","category_name":"음식점 \\u003e 한식 \\u003e 해물,생선 \\u003e 매운탕,해물탕","distance":"","id":"19974580","phone":"02-563-9956","place_name":"아야진생태찌개 역삼직영점","place_url":"http://place.map.kakao.com/19974580","road_address_name":"서울 강남구 논현로 329","x":"127.039356841413","y":"37.4945322320564"},{"address_name":"서울 강남구 역삼동 797-11","category_group_code":"PK6","category_group_name":"주차장","category_name":"교통,수송 \\u003e 교통시설 \\u003e 주차장","distance":"","id":"787815828","phone":"","place_name":"아야진생태찌개 역삼직영점 주차장","place_url":"http://place.map.kakao.com/787815828","road_address_name":"","x":"127.039527631289","y":"37.4946024535741"}],"meta":{"is_end":true,"pageable_count":2,"same_name":{"keyword":"아야진생태찌개 역삼","region":[],"selected_region":""},"total_count":2}}'

In [47]:
ids

[['14569639'],
 ['710342577'],
 ['7974994', '1794437422'],
 ['24663994'],
 ['15105092', '2088113318'],
 None,
 None,
 ['10752275', '285143296'],
 ['19838635'],
 None,
 None,
 ['170461079'],
 ['10452008'],
 None,
 None,
 ['1211150938'],
 ['27441566'],
 ['631696368'],
 ['20642173'],
 None,
 None,
 ['1456391705'],
 None,
 None,
 ['9213761'],
 ['17154422'],
 ['8117481'],
 ['26353603'],
 ['10157717'],
 ['333031201'],
 ['27274125'],
 ['15227243'],
 ['26777815'],
 ['22249360'],
 None,
 None,
 ['26894267'],
 None,
 ['13308284'],
 None,
 None,
 ['11594198'],
 ['11108322'],
 ['10800261'],
 ['8107787'],
 ['9186290'],
 ['16790639'],
 ['24808019'],
 ['1897959308'],
 ['18279510'],
 ['8543163'],
 ['1230301772'],
 ['9956715'],
 ['1292909425'],
 ['10201006'],
 ['1377334197'],
 ['1600722572'],
 ['8216639'],
 ['1696571508'],
 None,
 ['265003060'],
 ['12572463'],
 ['791775664'],
 ['1186348635'],
 ['372391352'],
 ['16679184'],
 None,
 None,
 ['26428654'],
 None,
 None,
 None,
 ['1804461464'],
 ['403548943'],
 None,
 ['19852302'],
 ['21414358'],
 None,
 ['683635436', '482048857'],
 ['14659473'],
 ['8095238', '779034830'],
 ['1580031159'],
 None,
 None,
 ['2011092566'],
 None,
 None,
 ['8106111'],
 ['10825881'],
 ['14869434'],
 ['21439311', '8106111'],
 None,
 ['995044804'],
 ['20102926'],
 ['16850619'],
 ['845899909'],
 ['2000969854'],
 ['1773527257'],
 ['12698826'],
 ['16056083'],
 ['1755051582'],
 ['27282596'],
 ['16297664'],
 ['1955177050'],
 ['15624631'],
 None,
 ['10188823'],
 ['8190214'],
 ['10917492'],
 ['471451980'],
 ['21344270'],
 ['21310538'],
 None,
 ['10165519'],
 None,
 None,
 ['1647819710'],
 ['16766210'],
 None,
 ['1144516890'],
 None,
 ['8098721'],
 ['10637815'],
 None,
 ['8475048'],
 ['17674282'],
 ['8000567', '1242780805'],
 ['8156521', '26646332'],
 None,
 ['14095777'],
 ['20895830'],
 ['19271016'],
 ['1162309054'],
 None,
 None,
 None,
 None,
 ['16062979'],
 ['10648588'],
 None,
 ['16080144'],
 ['26431943'],
 ['2062161393'],
 None,
 ['7990411'],
 ['8203089'],
 ['17488355'],
 ['8565305'],
 None,
 ['7827799'],
 ['7815078'],
 ['19215962'],
 ['27440938'],
 ['213776157'],
 ['16905039'],
 ['16036850'],
 ['16065118'],
 None,
 ['1057804025'],
 ['17761305'],
 ['293125397'],
 ['17203740'],
 ['901836680', '2119423809'],
 ['25744174'],
 None,
 ['16616501'],
 ['2104936093'],
 ['27388660'],
 ['8674497'],
 ['43312928'],
 None,
 ['57329074'],
 ['316697838'],
 ['1907052666'],
 ['1618947990'],
 ['9614833'],
 ['8163543'],
 ['18738555'],
 ['1869730586'],
 ['25701453'],
 ['8497356'],
 None,
 ['1325966051'],
 ['292351555'],
 ['1811506643'],
 ['794434222'],
 ['1392176906'],
 ['12445208'],
 None,
 ['8214517'],
 ['663711334'],
 ['2058169302'],
 ['9474243'],
 ['5940157'],
 ['17377605'],
 ['1114352509'],
 ['604735311'],
 ['7906948'],
 ['15215614'],
 ['242235403'],
 ['7819490'],
 None,
 ['27174599'],
 ['8140575'],
 ['25968685', '544365586'],
 ['8735236'],
 ['25155819'],
 ['829412960'],
 ['330210884'],
 None,
 ['1377224551'],
 ['8348458'],
 None,
 ['8111432'],
 ['9433027'],
 ['1321014747'],
 None,
 None,
 None,
 ['14920995'],
 ['9507410'],
 ['8252959', '743091620'],
 ['1777540958'],
 ['26317333'],
 ['24943998'],
 ['10406623'],
 ['26565017'],
 ['1537249895'],
 ['8581279'],
 ['8306074'],
 ['161409474'],
 ['11844661'],
 ['27162373'],
 ['8198793'],
 ['8896633'],
 ['259120818'],
 ['27531028'],
 None,
 ['2086436859'],
 ['12137179'],
 ['13575898'],
 ['2142723351'],
 None,
 ['19637934'],
 ['8210542'],
 None,
 None,
 ['9470320'],
 ['15191674'],
 None,
 ['16646669'],
 ['26434809', '573488040'],
 ['8104260'],
 ['10159026'],
 ['16418709'],
 ['1466449848', '781993688'],
 ['12543930'],
 ['24002667'],
 ['8286860'],
 ['23995572'],
 ['1538997915'],
 ['27150459'],
 None,
 ['382166298'],
 ['1714382034'],
 ['27187696'],
 ['1891715448'],
 None,
 ['1406188939'],
 None,
 ['1514846440'],
 ['741391811'],
 None,
 ['27414577'],
 ['12519094'],
 ['16791024'],
 ['15708930'],
 ['25046575'],
 ['21310899', '2108126982'],
 ['151994010'],
 ['21401237', '778079705'],
 None,
 None,
 ['1098388849'],
 ['26333177'],
 ['26897084'],
 ['11616612'],
 ['1535590826'],
 ['1390671305'],
 ['1488731354'],
 None,
 None,
 ['9956715'],
 ['1480817290'],
 ['1622069784'],
 ['8996449'],
 None,
 ['26898618'],
 ['17344000'],
 ['1996999092', '255764891'],
 ['1407897149'],
 ['1041024738'],
 None,
 None,
 ['11707591'],
 ['2105479206'],
 ['504626344'],
 ['8022618'],
 None,
 ['1925683736'],
 ['9011542', '25702443'],
 ['540731064'],
 ['22400767'],
 ['8148270'],
 None,
 ['19974580', '787815828']]

In [48]:
df['id'] = pd.Series(ids)

In [49]:
df

,CGG_CODE,ASGN_YY,ASGN_SNO,APPL_YMD,ASGN_YMD,UPSO_NM,SITE_ADDR_RD,SITE_ADDR,PERM_NT_NO,SNT_UPTAE_NM,MAIN_EDF,TRDP_AREA,ADMDNG_NM,GRADE_FACIL_GBN,UPSO_SITE_TELNO,keyword,id
0,3220000,2014,0160,20141006,20141006,이도곰탕,"서울특별시 강남구 논현로94길 29-5, 지상1층,지상2층 (역삼동)",서울특별시 강남구 역삼동 671번지 17호,3220000-101-2001-24197,한식,곰탕,194.41,역삼1동,상수도전용,02 5010738,이도곰탕,[14569639]
1,3220000,2021,139,20181001,20211116,솥내음 스타필드 코엑스몰점,"서울특별시 강남구 영동대로 513, 코엑스 지하1층 O-107호 (삼성동)",서울특별시 강남구 삼성동 159번지 코엑스,3220000-101-2020-00643,한식,직화불백,74.56,삼성1동,,,솥내음 스타필드 코엑스몰,[710342577]
2,3220000,2010,0024,20100210,20100210,스시히로바,"서울특별시 강남구 삼성로 620, 블래스톤리조트 지상1층 (삼성동)",서울특별시 강남구 삼성동 70번지 블래스톤리조트,3220000-101-2002-00383,일식,초밥,216.56,삼성1동,상수도전용,02 5155511,스시히로바,"[7974994, 1794437422]"
3,3220000,2016,0089,20161125,20161125,서백자 간장게장,"서울특별시 강남구 삼성로 542, 지상2층 (삼성동, 석천빌딩)",서울특별시 강남구 삼성동 151번지 4호 석천빌딩 2층,3220000-101-2012-00416,중국식,간장게장,260.30,삼성1동,,02 34536008,서백자 간장게장,[24663994]
4,3220000,2016,0084,20161125,20161125,주)봉산집,"서울특별시 강남구 삼성로 564, 지상2층,지상3층 (삼성동)",서울특별시 강남구 삼성동 145번지 19호,3220000-101-2011-01048,한식,차돌박이,452.95,삼성1동,,,봉산집,"[15105092, 2088113318]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
311,3220000,2023,313,20231010,20231123,모스가든,"서울특별시 강남구 논현로139길 12, 지상1층 (논현동)",서울특별시 강남구 논현동 30번지 6호,3220000-101-2012-00814,한식,파스타,332.00,논현1동,,,모스가든,[540731064]
312,3220000,2010,0058,20100210,20100210,삼성물산(주)10꼬르소꼬모서울카페,"서울특별시 강남구 압구정로 416, (청담동,지하1층)",서울특별시 강남구 청담동 79번지 0호 지하1층,3220000-101-2008-00093,경양식,이태리,350.00,청담동,상수도전용,02 30181010,10꼬르소꼬모서울카페,[22400767]
313,3220000,2023,299,20231010,20231123,현대낙지집,"서울특별시 강남구 압구정로14길 11, (신사동)",서울특별시 강남구 신사동 550번지 3호,3220000-101-1985-17501,한식,"낙지, 감자탕",92.03,신사동,상수도전용,02 5461022,현대낙지집,[8148270]
314,3220000,2010,0061,20100730,20100915,초심,"서울특별시 강남구 언주로172길 55, 지상2층 (신사동)",서울특별시 강남구 신사동 662번지 6호,3220000-101-2005-00412,경양식,"곱창, 부대찌개",211.26,신사동,상수도전용,02 5174433,초심,None
315,3220000,2016,0172,20161125,20161125,아야진생태찌개 역삼점,"서울특별시 강남구 논현로 329, 지상1,2,3층 (역삼동)","서울특별시 강남구 역삼동 797번지 11호 지상1,2,3,층",3220000-101-2013-00416,한식,생태찌개,253.28,역삼2동,,,아야진생태찌개 역삼,"[19974580, 787815828]"

In [52]:
# df.to_excel('result_v2.xlsx')
df.to_csv("data/reviews_v2.csv", index=False, encoding="utf-8-sig")

In [50]:
df['id']

0                  [14569639]
1                 [710342577]
2       [7974994, 1794437422]
3                  [24663994]
4      [15105092, 2088113318]
                ...
311               [540731064]
312                [22400767]
313                 [8148270]
314                      None
315     [19974580, 787815828]
Name: id, Length: 316, dtype: object

In [51]:
df.isna().sum()

CGG_CODE            0
ASGN_YY             0
ASGN_SNO            0
APPL_YMD            0
ASGN_YMD            0
UPSO_NM             0
SITE_ADDR_RD        0
SITE_ADDR           0
PERM_NT_NO          0
SNT_UPTAE_NM        0
MAIN_EDF            0
TRDP_AREA           0
ADMDNG_NM           0
GRADE_FACIL_GBN     0
UPSO_SITE_TELNO     0
keyword             0
id                 72
dtype: int64

In [171]:
check_df = pd.merge(
    left=df,
    right=kakao_df.groupby('검색어',as_index=False).agg({'id': 'count'}),
    left_on='keyword',
    right_on='검색어',
    how='left'
)[['UPSO_NM', 'id']].fillna(0)

check_df[check_df['id'] == 0]

                        UPSO_NM   id
5                           더드림  0.0
6    국민한우집 삼성역점(구 칠프로칠백식당 포스코점)  0.0
9                            등대  0.0
10                  (주)아구본가첨벙대치  0.0
13                         경성면옥  0.0
..                          ...  ...
297               로즈힐 강남파이낸스센터점  0.0
303                         한쉐프  0.0
304                 지강한식당 압구정본점  0.0
309                    효미역 압구정점  0.0
315                          초심  0.0

[72 rows x 2 columns]

In [199]:
pd.DataFrame(rows)['category_group_code'].unique()

array(['FD6', 'PK6', 'HP8', 'OL7', '', 'MT1', 'CE7', 'AT4', 'CS2', 'SC4',
       'AD5', 'AG2', 'PM9', 'AC5', 'CT1', 'PO3', 'BK9', 'SW8'],
      dtype=object)

In [235]:
row

{'address_name': '전남 목포시 산정동 1080-94',
 'category_group_code': 'FD6',
 'category_group_name': '음식점',
 'category_name': '음식점 > 한식 > 해물,생선 > 회',
 'distance': '',
 'id': '455543364',
 'phone': '010-3558-4864',
 'place_name': '초심회포차',
 'place_url': 'http://place.map.kakao.com/455543364',
 'road_address_name': '전남 목포시 자유로 50',
 'x': '126.394989487882',
 'y': '34.7932867417196'}