In [1]:
import pandas as pd
import numpy as np
import requests
from datetime import datetime
import json
import pickle

## 데이터 불러오기
- 강남구 전체 음식점 데이터

In [2]:
merged = pd.read_csv("data/merged.csv")

In [3]:
all_df = pd.read_csv("data/all_cafeteria_mobeom.csv")
all_df.head(3)

,Unnamed: 0,MGTNO,APVPERMYMD,TRDSTATENM,SITEAREA,SITEPOSTNO,SITEWHLADDR,RDNWHLADDR,BPLCNM,UPTAENM,X,Y,TRDPJUBNSENM,WTRSPLYFACILSENM,dong,exemplary_diner
0,0,3220000-101-1007-00001,19970205,영업/정상,NaN,135954,서울특별시 강남구 청담동 88-5번지,서울특별시 강남구 도산대로55길 20 (청담동),배초향,한식,203520.881091,446950.285626,NaN,NaN,청담동,NaN
1,1,3220000-101-1899-20451,19991005,영업/정상,950.66,135090,서울특별시 강남구 삼성동 159,"서울특별시 강남구 봉은사로 524, 1층 (삼성동, 인터컨티넨탈 서울 코엑스)",브래서리,경양식,205130.591679,445590.096838,기타,상수도전용,삼성동,모범식당지정
2,2,3220000-101-1899-20453,19991005,영업/정상,473.24,135090,서울특별시 강남구 삼성동 159,"서울특별시 강남구 봉은사로 524, 1층 (삼성동, 인터컨티넨탈 서울 코엑스)",로비라운지,경양식,205130.591679,445590.096838,기타,상수도전용,삼성동,NaN

In [4]:
all_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12528 entries, 0 to 12527
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        12528 non-null  int64
 1   MGTNO             12528 non-null  object
 2   APVPERMYMD        12528 non-null  object
 3   TRDSTATENM        12528 non-null  object
 4   SITEAREA          12513 non-null  object
 5   SITEPOSTNO        12518 non-null  object
 6   SITEWHLADDR       12518 non-null  object
 7   RDNWHLADDR        12472 non-null  object
 8   BPLCNM            12528 non-null  object
 9   UPTAENM           12527 non-null  object
 10  X                 12475 non-null  float64
 11  Y                 12475 non-null  float64
 12  TRDPJUBNSENM      2237 non-null   object
 13  WTRSPLYFACILSENM  2976 non-null   object
 14  dong              12528 non-null  object
 15  exemplary_diner   316 non-null    object
dtypes: float64(2), int64(1), object(13)
memory usage: 1.5+ MB

In [5]:
# 강남구 전체 데이터 식당 이름 결측치 확인 -> 없음
all_df["BPLCNM"].isnull().sum()

0

## request 적용

### 강남구 모범음식점 지정 데이터셋과 이름 비교
- ex. 삼성물산(주)10꼬르소꼬모서울카페, 솥내음 스타필드 코엑스몰점 -> 모범음식점 지정, 전체 데이터셋 둘다 모두 동일한 이름으로 지정

In [6]:
all_df[all_df.BPLCNM.str.contains("꼬르소꼬모")]

,Unnamed: 0,MGTNO,APVPERMYMD,TRDSTATENM,SITEAREA,SITEPOSTNO,SITEWHLADDR,RDNWHLADDR,BPLCNM,UPTAENM,X,Y,TRDPJUBNSENM,WTRSPLYFACILSENM,dong,exemplary_diner
3020,3020,3220000-101-2008-00093,2008-02-20,영업/정상,350.00,135-954,서울특별시 강남구 청담동 79-0 지하1층,"서울특별시 강남구 압구정로 416 (청담동,지하1층)",삼성물산(주)10꼬르소꼬모서울카페,경양식,203679.945734,447187.003951,NaN,NaN,청담동,모범식당지정

In [7]:
all_df[all_df.BPLCNM.str.contains("솥내음")]

,Unnamed: 0,MGTNO,APVPERMYMD,TRDSTATENM,SITEAREA,SITEPOSTNO,SITEWHLADDR,RDNWHLADDR,BPLCNM,UPTAENM,X,Y,TRDPJUBNSENM,WTRSPLYFACILSENM,dong,exemplary_diner
8374,8374,3220000-101-2020-00643,2020-06-16,영업/정상,74.56,135-731,서울특별시 강남구 삼성동 159 코엑스,"서울특별시 강남구 영동대로 513, 코엑스 지하1층 O-107호 (삼성동)",솥내음 스타필드 코엑스몰점,한식,205130.591679,445590.096838,NaN,NaN,삼성동,모범식당지정

### 가게 이름 전처리

In [8]:
# 가게 이름 전처리
# "(주)" -> 적혀 있는 가게 이름에서 "(주)" 제거
def find_string(txt):
    if '주)' in txt:
        target_index = txt.index('주)')
        if target_index > len(txt) // 2:
            return txt[:txt.index('주)') - 1]
        else:
            return txt[txt.index('주)') + 2:]
    else:
        return txt

# find_string 함수 적용 + "~점"으로 끝나는 가게 이름에서 "점" 제거
all_df["keyword"] = all_df['BPLCNM'].apply(find_string).str.split('(').str[0].str.rstrip('점')

In [9]:
# # 업소 이름 뒤에 위치한 동 이름 붙임
# def plus_dong(txt):
#     if txt["dong"][:-1] not in txt["keyword"]:
#         txt["keyword"] = txt["keyword"] + " " + txt["dong"][:-1]
#     else:
#         txt["keyword"] = txt["keyword"]
#     return txt

In [10]:
# plus_dong 함수 적용
# all_df = all_df.apply(plus_dong, axis=1)

In [11]:
all_df["keyword"].head(3)

0      배초향
1     브래서리
2    로비라운지
Name: keyword, dtype: object

### 지번 주소 전처리

In [12]:
all_df[all_df.BPLCNM.str.contains("아야진생태찌개")]

,Unnamed: 0,MGTNO,APVPERMYMD,TRDSTATENM,SITEAREA,SITEPOSTNO,SITEWHLADDR,RDNWHLADDR,BPLCNM,UPTAENM,X,Y,TRDPJUBNSENM,WTRSPLYFACILSENM,dong,exemplary_diner,keyword
2924,2924,3220000-101-2007-00781,20070928,영업/정상,185.42,135878,서울특별시 강남구 삼성동 150-2 (101호),"서울특별시 강남구 삼성로108길 8 (삼성동,(101호))",아야진생태찌개,한식,204771.670253,445508.924495,NaN,NaN,삼성동,모범식당지정,아야진생태찌개
4645,4645,3220000-101-2013-00416,20130531,영업/정상,253.28,135930,"서울특별시 강남구 역삼동 797-11번지 지상1,2,3,층","서울특별시 강남구 논현로 329, 지상1,2,3층 (역삼동)",아야진생태찌개 역삼점,한식,203418.921771,443599.760104,NaN,NaN,역삼동,모범식당지정,아야진생태찌개 역삼

In [13]:
all_df[all_df.BPLCNM.str.contains("아야진생태찌개")]["SITEWHLADDR"].values[0].split(" ")

['서울특별시', '강남구', '삼성동', '150-2', '(101호)']

In [29]:
# def generate_address(txt):
#     try:
#         if txt.split(' ')[5]:
#             if txt.split(' ')[5][-1] == '호':
#                 return txt.split(' ')[2] + ' ' + txt.split(' ')[4].rstrip('번지') + '-' + txt.split(' ')[5].rstrip('호')
#             else:
#                 return txt.split(' ')[2] + ' ' + txt.split(' ')[4].rstrip('번지')
#         else:
#             return txt.split(' ')[2] + ' ' + txt.split(' ')[4].rstrip('번지')
            
#     except:
#         return False

### 도로명 주소 전처리
- 지번 주소명에서 규칙을 찾기 힘들어 도로명 주소로 대체
- 도로명 주소 결측치 존재 (56개)
    - `.fillna("")`로 빈칸으로 일단 채우고 나서 전처리 진행

In [14]:
all_df["RDNWHLADDR"] = all_df["RDNWHLADDR"].fillna("")

In [15]:
def road_split(txt):
    txt = txt.split(",")[0].replace("서울특별시", "서울")
    txt = txt.split("(")[0]
    return txt

In [16]:
all_df["RDNWHLADDR"] = all_df["RDNWHLADDR"].apply(road_split)

In [17]:
key = '923dc9604178f2a7aa0979ae38029a34'
kakao_result = []

keywords = all_df['keyword'].tolist()
no_model_keyword = all_df[all_df.exemplary_diner.isna()]["keyword"].tolist()

### 카카오맵 상세보기 id 불러오기

In [18]:
print(len(keywords))
print(len(no_model_keyword))
print("모범음식점 개수 :", len(keywords)-len(no_model_keyword), "개")

12528
12212
모범음식점 개수 : 316 개

In [22]:
kakao_result = []
rows = []
ids = []
# ids2 = []
# ids3 = []

for idx, keyword in enumerate(keywords):
# for idx, keyword in enumerate(keywords[10669:]):

    if keyword == np.nan:
        ids.append("")
        continue


    url = 'https://dapi.kakao.com/v2/local/search/keyword.json' 
    params = {'query': keyword, 'page': 1}
    headers = {"Authorization": f'''KakaoAK {key}'''}
    response = requests.get(url, params=params, headers=headers)
    this_result = []
    this_id = []
    try:
        for row in json.loads(response.content)['documents']:
            rows.append(row)
            cond_gangnam = row['address_name'].split(' ')[0] == '서울' and row['address_name'].split(' ')[1] == '강남구'
            # cond_addr = generate_address(df.loc[idx, 'SITE_ADDR']) == row['address_name'][7:]
            # cond_road_addr = df.loc[idx, 'SITE_ADDR_RD'].replace('특별시', '').split(',')[0] == row['road_address_name']
            cond_road_addr = all_df.loc[idx, 'RDNWHLADDR'][:-1] in row['road_address_name']

            # if cond_gangnam and (cond_addr or cond_road_addr):
            if cond_gangnam and cond_road_addr:
                this_result.append({
                    '검색어': keyword,
                    '상호명': row['place_name'],
                    '지번주소': row['address_name'],
                    '도로명주소': row['road_address_name'],
                    'id': row['id']
                })
                this_id.append(row['id'])

        # ids.append(this_id if this_id else None)
        # ids2.append(this_id if this_id else None)
        ids.append(this_id if this_id else None)

    except:
        pass

In [23]:
response.text

'{"documents":[],"meta":{"is_end":true,"pageable_count":0,"same_name":{"keyword":"김가네 ","region":[],"selected_region":"서울 강남구 자곡동"},"total_count":0}}'

In [24]:
ids

[None,
 ['10825881'],
 ['727661240'],
 ['21550576'],
 ['17157328', '26597965'],
 None,
 ['16055100'],
 ['26983298'],
 None,
 ['16036307'],
 ['9614833'],
 ['1750491579'],
 None,
 None,
 None,
 None,
 None,
 ['19351143'],
 ['8299376'],
 None,
 ['10360096'],
 None,
 None,
 ['16499758'],
 None,
 ['14982154'],
 None,
 ['16677411'],
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 ['7867924'],
 ['24178025'],
 ['1141385651'],
 ['1552651008'],
 None,
 ['11057157'],
 None,
 ['21222844'],
 None,
 ['1042080004'],
 ['1660939960'],
 None,
 None,
 ['16556376'],
 ['7889948'],
 ['25612762'],
 ['285392408'],
 ['10252806', '1905645499'],
 ['8348458'],
 ['2097387035'],
 ['607030045'],
 ['1741104454'],
 None,
 None,
 None,
 ['27344977'],
 ['21237816'],
 ['8110399'],
 None,
 ['8055932'],
 None,
 ['16054592'],
 ['14603291'],
 None,
 ['1869730586'],
 None,
 None,
 ['18738555'],
 ['8156521', '26646332'],
 None,
 None,
 ['10216264'],
 ['13057957'],
 ['16036952'],
 ['8410723'],
 None,
 None,
 None,
 None,
 ['16961643'],
 ['16271455'],
 None,
 None,
 ['21414358'],
 ['1475948300'],
 ['16988519'],
 None,
 None,
 None,
 ['8147212'],
 None,
 ['8106689'],
 ['15624631'],
 None,
 ['7904069'],
 ['21416787'],
 ['8148270'],
 None,
 None,
 None,
 ['16987899'],
 ['21332373'],
 ['16037604'],
 ['2105479206'],
 ['16555281'],
 ['1125068845'],
 None,
 ['7866991'],
 None,
 ['2036399065'],
 None,
 None,
 ['13333008'],
 None,
 None,
 ['10156037'],
 ['7881618'],
 ['16377737'],
 None,
 None,
 None,
 None,
 ['16906186'],
 ['8252959', '743091620'],
 ['13301773'],
 ['21332488'],
 ['8109345'],
 ['16037910'],
 ['10201006'],
 ['785573131'],
 None,
 None,
 None,
 ['8140492'],
 ['26855131'],
 ['13092552'],
 None,
 ['1627001384'],
 ['21310538'],
 None,
 ['16531633'],
 ['22046215'],
 ['8194428',
  '21312396',
  '20377157',
  '21309916',
  '1182638822',
  '1372583996',
  '862699612'],
 ['27474146', '20377157'],
 None,
 None,
 ['1338149995'],
 None,
 ['26949831'],
 ['2091118619'],
 None,
 ['16329395'],
 None,
 ['21133401', '16046222'],
 ['1634072646'],
 ['12389314'],
 ['213090020'],
 None,
 ['8059619'],
 ['26966963'],
 ['16038029'],
 ['19699118'],
 ['7875394'],
 ['26562024'],
 None,
 None,
 ['19351143'],
 ['18946538'],
 None,
 None,
 ['16473181'],
 ['27299898'],
 ['8214517'],
 None,
 None,
 None,
 ['16417985'],
 None,
 ['11892417'],
 ['14869434'],
 None,
 None,
 None,
 ['9233405'],
 None,
 ['21418484', '1844910122'],
 ['1184826800'],
 None,
 ['1591650744'],
 None,
 None,
 ['16648236'],
 None,
 None,
 ['1413062453'],
 ['166678875'],
 ['18202075'],
 ['27490966'],
 None,
 ['1037166274'],
 None,
 None,
 ['13571132'],
 ['1221274774'],
 None,
 ['13559984'],
 None,
 None,
 None,
 ['1116539400'],
 ['20745398'],
 None,
 None,
 ['16765211'],
 ['1278555240'],
 ['16819689'],
 ['1967128130'],
 ['16647845'],
 ['63833790'],
 None,
 ['16418709'],
 ['1992125752'],
 None,
 None,
 ['8059543'],
 ['973006164'],
 None,
 ['20950984'],
 ['16589291'],
 ['11835839'],
 None,
 ['10210646'],
 None,
 ['772200164'],
 None,
 ['8161840',
  '8214517',
  '2115541207',
  '13559984',
  '14869434',
  '1911204185',
  '540998427',
  '27217235',
  '127874693',
  '123680335',
  '26965214',
  '26344831'],
 ['10348068', '16414450'],
 None,
 None,
 ['25046575'],
 ['624845749'],
 None,
 ['338342608'],
 ['912331600'],
 None,
 ['1411235044'],
 ['16037066'],
 None,
 None,
 ['2005979161'],
 ['42555379'],
 None,
 None,
 None,
 ['16059551'],
 ['1806203674'],
 ['1993249672'],
 ['15227243'],
 None,
 ['526177090'],
 ['1327345377'],
 None,
 ['12698826'],
 ['1026142904'],
 ['13582455'],
 ['16557908'],
 ['21359574'],
 ['1315663833'],
 ['1766550290'],
 None,
 ['1183163941'],
 None,
 ['1407897149'],
 ['2000969854'],
 ['11825015'],
 None,
 ['10941062'],
 None,
 ['489689419'],
 None,
 None,
 ['10650662'],
 None,
 None,
 None,
 ['17640526'],
 ['16708939'],
 None,
 None,
 ['18865294'],
 ['8501640'],
 ['23203958'],
 ['16679761'],
 ['12890589'],
 ['10800261'],
 ['978587274'],
 ['2106188174'],
 ['7929136'],
 ['1421668312'],
 ['22067875'],
 ['17532348'],
 None,
 None,
 ['604735311'],
 ['182478179'],
 ['849573094'],
 ['16040568'],
 None,
 ['16734080'],
 None,
 None,
 ['658037929'],
 ['17219874'],
 ['9108820'],
 None,
 ['24406574'],
 ['8008495'],
 ['425457369'],
 ['16329355'],
 ['17203741'],
 ['8095238', '779034830'],
 ['856156817'],
 ['1210559588'],
 None,
 None,
 ['1703222302'],
 ['13491990'],
 None,
 None,
 ['10100452'],
 ['1889015115'],
 None,
 ['8095097'],
 None,
 None,
 ['2011228'],
 ['85570955'],
 None,
 None,
 None,
 ['1239582054'],
 ['16065118'],
 None,
 ['1350808227'],
 ['8572137'],
 ['12077713'],
 ['10727931'],
 ['16268727'],
 ['10739869'],
 None,
 None,
 ['729986924'],
 None,
 ['1328490292'],
 ['16679651'],
 None,
 ['16378716'],
 ['25775631'],
 ['15251995'],
 ['16297664'],
 ['10386341'],
 ['8198793'],
 None,
 ['169599220'],
 None,
 None,
 ['21333972'],
 None,
 ['16987704'],
 None,
 None,
 ['10584572'],
 None,
 None,
 ['1485180110'],
 ['25155819'],
 None,
 None,
 ['264840274'],
 None,
 ['9376189'],
 ['9770493'],
 None,
 ['894737140'],
 None,
 ['645714884'],
 None,
 None,
 ['13310716'],
 None,
 ['214029515'],
 None,
 None,
 ['13599293'],
 ['16961952'],
 None,
 None,
 None,
 ['1961795304'],
 ['17041131'],
 ['23995572'],
 None,
 ['1963302943'],
 None,
 ['8581075'],
 ['12558400'],
 ['16791024'],
 None,
 ['1335618552'],
 None,
 None,
 None,
 ['8144397'],
 None,
 ['1535109134'],
 ['711190616'],
 ['973418098'],
 None,
 None,
 None,
 ['8153040'],
 None,
 None,
 ['36013228'],
 None,
 None,
 ['13289272'],
 ['21416874'],
 ['7861733'],
 ['12523538'],
 ['24286814'],
 ['8348458'],
 ['16557590'],
 None,
 ['16037952'],
 None,
 ['1580031159'],
 ['564514938'],
 ['38900101'],
 ['1233575670'],
 ['16084476'],
 None,
 ['8215974'],
 ['273280172'],
 ['664747809'],
 ['16297772'],
 ['10119598'],
 None,
 ['7943815'],
 None,
 ['193576811'],
 ['11198833'],
 None,
 ['21362240'],
 None,
 None,
 ['18770926'],
 ['19305602'],
 None,
 ['20702726'],
 ['27594354'],
 None,
 None,
 None,
 ['27285902'],
 ['7957284'],
 ['845899909'],
 ['12250697'],
 ['22614074'],
 ['9433027'],
 ['1057480572'],
 ['19128011'],
 ['15824622'],
 ['8543163'],
 None,
 ['8251092'],
 ['18772753'],
 None,
 ['9828807'],
 ['1821750034'],
 None,
 ['8195074'],
 None,
 ['7950283'],
 None,
 None,
 ['9191838'],
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 ['1454139847'],
 ['7890332'],
 ['8247269'],
 ['13583324'],
 ['14569640'],
 ['9450938'],
 ['10782185'],
 ['10649203'],
 None,
 None,
 ['1374276028'],
 ['790213246'],
 ['320550399'],
 ['7854904'],
 None,
 ['545684836'],
 ['24986811'],
 ['2062161393'],
 None,
 None,
 None,
 ['24987271'],
 ['27512216'],
 None,
 ['1451984690'],
 ['10141692'],
 ['16062852'],
 None,
 None,
 ['13495945'],
 ['1422750934'],
 None,
 ['7983060'],
 None,
 ['27491492'],
 None,
 None,
 None,
 None,
 ['1428563543'],
 ['23372949'],
 ['2102387081'],
 ['812711319'],
 ['20084420'],
 ['17333345'],
 None,
 ['12997052'],
 ['10159026'],
 None,
 ['12067313'],
 ['16875542'],
 ['26314001'],
 ['9774975'],
 ['16036514'],
 None,
 None,
 ['20633626'],
 ['1376429953'],
 ['12796799'],
 ['21417350'],
 ['10689221'],
 ['16301393'],
 ['8470301'],
 ['19972896'],
 None,
 ['7846256'],
 ['21332488'],
 ['13574659'],
 None,
 ['16065669'],
 ['7928439'],
 ['16418708'],
 None,
 ['19934740'],
 None,
 None,
 ['9567696'],
 ['16906548'],
 ['17675265'],
 ['27415522'],
 ['771421172'],
 ['21414960'],
 ['2086436859'],
 ['8497356'],
 ['1829129820'],
 None,
 ['587749908'],
 ['26246322'],
 None,
 None,
 None,
 None,
 None,
 None,
 ['27290706'],
 ['1479936876'],
 None,
 ['11891768'],
 None,
 None,
 None,
 None,
 None,
 ['787691335'],
 ['343387560'],
 None,
 ['492111516'],
 None,
 ['1814033192'],
 None,
 ['8331533'],
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 ['27246640'],
 None,
 None,
 ['242235403'],
 ['7971094'],
 ['24000929'],
 ['26603298'],
 ['13559752'],
 ['1175392479'],
 ['1180805032'],
 None,
 ['1367630127'],
 ['15204407'],
 ['1535590826'],
 None,
 None,
 None,
 ['7867818'],
 ['27549014'],
 ['631696368'],
 ['502615996'],
 None,
 ['1811857216'],
 ['8225690'],
 ['10882147'],
 None,
 None,
 ['21416801'],
 ['16790639'],
 ['27280955'],
 None,
 None,
 ['11892123'],
 None,
 ['26816485'],
 ['1516306195'],
 ['384680472'],
 None,
 ['21237825'],
 None,
 ['16036850'],
 ['259120818'],
 None,
 ['12752696'],
 ['1499828348'],
 None,
 None,
 None,
 ['8696262'],
 ['306597176'],
 None,
 None,
 ['18474012'],
 None,
 None,
 ['27486570'],
 ['18923939'],
 ['504626344'],
 ['18425959'],
 None,
 None,
 None,
 ['1861828681'],
 None,
 ['10583440'],
 None,
 ['1026664215'],
 ['324027369'],
 ['7859872'],
 None,
 ['7891904'],
 None,
 ['850712723'],
 ['27273310'],
 None,
 ['1785960060'],
 ['20642173'],
 None,
 ['21550629'],
 ['8368676'],
 None,
 ['17521305'],
 ['14951883'],
 None,
 None,
 None,
 ['21133288'],
 None,
 None,
 ['8680507'],
 None,
 None,
 None,
 None,
 None,
 ['16589590'],
 ['1147579722'],
 ['14921036'],
 ['16037716'],
 None,
 None,
 None,
 ['859039049'],
 ['1039080340'],
 ['19880897'],
 ['19478634'],
 ['165644443'],
 ['1779201319'],
 ['1849571893'],
 ['16068911'],
 ['2121406280'],
 None,
 None,
 None,
 ['16586931'],
 ['8104305'],
 None,
 ['16935839'],
 None,
 None,
 ['18278577'],
 ['960675289'],
 ['16055434'],
 ['7897089'],
 ['13062365'],
 ['17073204'],
 None,
 ['18606450'],
 None,
 ['809218660'],
 None,
 ['22578027'],
 ['1848758538'],
 None,
 ['19852302'],
 None,
 None,
 None,
 ['9584414'],
 ['1552185404'],
 ['1324166112'],
 None,
 ['1811624657'],
 ['1751054299'],
 ['323398311'],
 None,
 ['1665040674'],
 ['405026791'],
 None,
 ['32162519', '521614699'],
 ['1779951951'],
 ['1614493196'],
 None,
 None,
 ['9233405'],
 None,
 None,
 None,
 ['9019135'],
 ['12275934'],
 ['18552199'],
 None,
 ['16273495'],
 None,
 None,
 None,
 None,
 ['16036828'],
 None,
 ['22015823'],
 ['9680257'],
 ['16328087'],
 ['94505617'],
 ['9186290'],
 None,
 ['16501995'],
 None,
 ['838316257'],
 None,
 None,
 None,
 ['503470628'],
 ['16765360'],
 ['16054117'],
 ['1331446685'],
 ['1536766820'],
 None,
 ['1428242119'],
 ['130033037'],
 ['11114160'],
 ['21414557'],
 ['10774826'],
 ['705044236'],
 ['21398237'],
 ['27292994'],
 ['16056569'],
 ['8397392'],
 ['8107787'],
 ['671783167'],
 ['16983201'],
 ['24012308'],
 None,
 ['251456396'],
 None,
 ['16555131'],
 ['1372327486'],
 None,
 None,
 None,
 None,
 ['1229874963'],
 None,
 ['16706595'],
 ['803977050'],
 ['21852182'],
 None,
 ['8896633'],
 None,
 ['8210542'],
 None,
 None,
 ['16056083'],
 ['11269961'],
 ['1813563499'],
 ['15654927'],
 None,
 ['16064569'],
 None,
 ['1593349215'],
 ['1099825017'],
 None,
 ['9058351'],
 ['80159213'],
 None,
 None,
 ['10867025', '1749410859'],
 None,
 None,
 ['10968301'],
 ['250137218'],
 ['18760023'],
 ['13280284'],
 ['867559446'],
 ['26792678'],
 None,
 ['18099336'],
 ['16445416'],
 None,
 None,
 None,
 None,
 ['19614749'],
 None,
 None,
 ['12618214'],
 None,
 None,
 ['24394793'],
 None,
 ['12445672'],
 ['11748537'],
 None,
 None,
 ['8425253'],
 ['11844661'],
 None,
 ['9507410'],
 ['14595955'],
 None,
 ['569234910'],
 ['10261293'],
 None,
 ['13558520'],
 ['21332166'],
 ['18197885'],
 ['1776062096'],
 ['24727891'],
 ['409727619'],
 ['16905039'],
 ['339410625'],
 ['1895959062'],
 None,
 None,
 None,
 ['9515467'],
 None,
 ['21529263'],
 None,
 ['27524650'],
 ['19606821'],
 ['250712388'],
 ['11109186'],
 None,
 ['8996449'],
 ['9661372'],
 None,
 ['9152038'],
 ['16848834'],
 None,
 None,
 None,
 ['11237597'],
 None,
 ['8374032'],
 ['7862260'],
 ['455036952'],
 ['8378418'],
 None,
 ['16037196'],
 None,
 None,
 ['533782187'],
 ['220937592'],
 ['1689462729'],
 ['102032712'],
 ['1882522850'],
 ['9474243'],
 None,
 ['8371848'],
 ['11088741'],
 None,
 ['691743164'],
 ['10637815'],
 ['13302145'],
 None,
 ['26592607'],
 ['22547607'],
 ['16038823'],
 None,
 ['13624172'],
 ['21415136'],
 None,
 ['18601941'],
 ['927785798'],
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 ['16057721'],
 None,
 ['527407577'],
 ['10973655'],
 None,
 ['1746781039'],
 None,
 ['8013961'],
 None,
 None,
 ['11247539'],
 None,
 None,
 None,
 None,
 None,
 ['948434557'],
 None,
 None,
 None,
 None,
 ['16037901'],
 ['10357544'],
 None,
 None,
 None,
 None,
 None,
 None,
 ['23996372', '21686318'],
 ['16588482'],
 ['2144108112'],
 ['14502593'],
 ['1907052666'],
 None,
 ['10960059'],
 ['10669643'],
 None,
 ['21417007'],
 ['15954096'],
 None,
 ...]

In [84]:
# 10669 ~ 10793 index 까지 id 다시 한번 찾음
ids2

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 ['1053416793'],
 None,
 None,
 None,
 ['646221301', '2062558044', '549441286', '1759469103', '169864988'],
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 ['632636561', '923738207'],
 None,
 None,
 ['1966152470'],
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 ['231243793',
  '1413212886',
  '1561037207',
  '1323949073',
  '1014051301',
  '721149197',
  '805389038',
  '223745869',
  '1819478245'],
 None,
 None,
 None,
 None,
 ['16998823'],
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None]

In [74]:
len(ids)

10669

In [85]:
len(ids2)

124

In [119]:
10669 + 124

10793

In [25]:
# id 컬럼 생성
all_df["id"] = pd.Series(ids)

In [129]:
# id 컬럼의 10669 인덱스부터 10792까지 다시 찾은 값 (ids2)으로 대체
all_df["id"].loc[10669:10792] = pd.Series(ids2, index=range(10669, 10793))

C:\Users\aryij\AppData\Local\Temp\ipykernel_30148\657290561.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_df["id"].loc[10669:10792] = pd.Series(ids2, index=range(10669, 10793))

In [136]:
all_df[all_df.exemplary_diner.notnull()].isnull().sum()

Unnamed: 0            0
MGTNO                 0
APVPERMYMD            0
TRDSTATENM            0
SITEAREA              0
SITEPOSTNO            0
SITEWHLADDR           0
RDNWHLADDR            0
BPLCNM                0
UPTAENM               0
X                     1
Y                     1
TRDPJUBNSENM        205
WTRSPLYFACILSENM    177
dong                  0
exemplary_diner       0
keyword               0
id                  140
id_mod                0
dtype: int64

In [137]:
all_df[all_df.exemplary_diner.isna()].isnull().sum()

Unnamed: 0              0
MGTNO                   0
APVPERMYMD              0
TRDSTATENM              0
SITEAREA               15
SITEPOSTNO             10
SITEWHLADDR            10
RDNWHLADDR              0
BPLCNM                  0
UPTAENM                 1
X                      52
Y                      52
TRDPJUBNSENM        10086
WTRSPLYFACILSENM     9375
dong                    0
exemplary_diner     12212
keyword                 0
id                   6093
id_mod                  0
dtype: int64

## id 컬럼 결측치

In [26]:
# request로 가져온 id 컬럼의 결측치 빈칸으로 대체
all_df["id_mod"] = all_df["id"].fillna(" ")

In [27]:
# id 컬럼이 list로 되어 있어, 문자열로 변경
all_df["id_mod"] = all_df["id_mod"].apply(lambda x: x[0] if x is not None else x)

In [174]:
all_df.head(3)

,Unnamed: 0,MGTNO,APVPERMYMD,TRDSTATENM,SITEAREA,SITEPOSTNO,SITEWHLADDR,RDNWHLADDR,BPLCNM,UPTAENM,X,Y,TRDPJUBNSENM,WTRSPLYFACILSENM,dong,exemplary_diner,keyword,id,id_mod
0,0,3220000-101-1007-00001,19970205,영업/정상,NaN,135954,서울특별시 강남구 청담동 88-5번지,서울 강남구 도산대로55길 20,배초향,한식,203520.881091,446950.285626,NaN,NaN,청담동,NaN,배초향,None,
1,1,3220000-101-1899-20451,19991005,영업/정상,950.66,135090,서울특별시 강남구 삼성동 159,서울 강남구 봉은사로 524,브래서리,경양식,205130.591679,445590.096838,기타,상수도전용,삼성동,모범식당지정,브래서리,[10825881],10825881
2,2,3220000-101-1899-20453,19991005,영업/정상,473.24,135090,서울특별시 강남구 삼성동 159,서울 강남구 봉은사로 524,로비라운지,경양식,205130.591679,445590.096838,기타,상수도전용,삼성동,NaN,로비라운지,[727661240],727661240

## merged 데이터와 병합

In [149]:
merged.head(3)

,CGG_CODE,ASGN_YY,ASGN_SNO,APPL_YMD,ASGN_YMD,UPSO_NM,SITE_ADDR_RD,SITE_ADDR,PERM_NT_NO,SNT_UPTAE_NM,MAIN_EDF,TRDP_AREA,ADMDNG_NM,GRADE_FACIL_GBN,UPSO_SITE_TELNO,UPSO_NM_MOD,UPSO_NM_LONG,SITE_ADDR_RD_SPLIT,name,url
0,3220000,2014,160,20141006,20141006,이도곰탕,"서울특별시 강남구 논현로94길 29-5, 지상1층,지상2층 (역삼동)",서울특별시 강남구 역삼동 671번지 17호,3220000-101-2001-24197,한식,곰탕,194.41,역삼1동,상수도전용,02 5010738,이도곰탕,이도곰탕 역삼1동,서울 강남구 논현로94길 29-5,이도곰탕 역삼1동,https://place.map.kakao.com/14569639
1,3220000,2021,139,20181001,20211116,솥내음 스타필드 코엑스몰점,"서울특별시 강남구 영동대로 513, 코엑스 지하1층 O-107호 (삼성동)",서울특별시 강남구 삼성동 159번지 코엑스,3220000-101-2020-00643,한식,직화불백,74.56,삼성1동,NaN,NaN,솥내음 스타필드 코엑스몰,솥내음 스타필드 코엑스몰 삼성1동,서울 강남구 영동대로 513,솥내음 스타필드 코엑스몰 삼성1동,https://place.map.kakao.com/710342577
2,3220000,2010,24,20100210,20100210,스시히로바,"서울특별시 강남구 삼성로 620, 블래스톤리조트 지상1층 (삼성동)",서울특별시 강남구 삼성동 70번지 블래스톤리조트,3220000-101-2002-00383,일식,초밥,216.56,삼성1동,상수도전용,02 5155511,스시히로바,스시히로바 삼성1동,서울 강남구 삼성로 620,스시히로바 삼성1동,https://place.map.kakao.com/7974994

In [28]:
# merged 데이터프레임의 url 결측치 빈칸으로 대체
merged["url"] = merged["url"].fillna(" ")

# url 맨 뒤 숫자만 가져온다
merged["url_split"] = merged["url"].apply(lambda x: x.split("/")[-1])

In [29]:
# 업소 이름 맨 뒤에 있는 동네 이름 제거
merged["upso_split"] = merged["UPSO_NM_LONG"].apply(lambda x: " ".join(x.split()[:-1]))
merged["upso_split"].head(3)

0             이도곰탕
1    솥내음 스타필드 코엑스몰
2            스시히로바
Name: upso_split, dtype: object

In [30]:
# merged 데이터프레임의 업소 이름, url을 딕셔너리 형태로 생성
dict_merged_upso_url = merged[["upso_split", "url_split"]].set_index("upso_split").to_dict()["url_split"]
dict_merged_upso_url

{'이도곰탕': '14569639',
 '솥내음 스타필드 코엑스몰': '710342577',
 '스시히로바': '7974994',
 '서백자 간장게장': '24663994',
 '봉산집': '26317333',
 '더드림': '27335171',
 '국민한우집 삼성역': '1259415579',
 '이즈미': '21414358',
 '홍영재 장수 청국장': '19838635',
 '등대': '8958910',
 '': '12543930',
 '김태준의 탕탕집': '170461079',
 '불이아': '10452008',
 '경성면옥': ' ',
 '밀밭': '26896916',
 '안동찜닭 해물떡찜': '1211150938',
 '니뽕내뽕(코엑스': '27441566',
 '세화정육': '631696368',
 '신의주 부대찌개': '20642173',
 '지호한방삼계탕': '19589343',
 '차이나타운': '10769361',
 '오발탄에프에스': '1456391705',
 '가원': '1392972465',
 '대흥정 엘에이 갈비': '20007819',
 '아야진생태찌개': '19974580',
 '수림복국': '17154422',
 '평가옥': '8117481',
 '바오바오': '26353603',
 '곰바위': '10157717',
 '황소곱창': '333031201',
 '삼성동': '27274125',
 '프로간장게장': '15227243',
 '해랑': '26777815',
 '본가 신의주 찹쌀순대': '8440324',
 '이조식당': '1544581685',
 '공수간 코엑스몰': '26894267',
 '명동칼국수': '16054618',
 '도모다찌': '13308284',
 '예가낙지마을': '1751509695',
 '동경': '16986529',
 '토말': '11594198',
 '엠브이샤브샤브': '11108322',
 '조수사': '10800261',
 '토담골': '8107787',
 '시골진지상': '9186290',
 '가득드림': '24808019',
 '미로정': '1897959308',
 '한촌설렁탕 선릉역': '18279510',
 '유장원보쌈': '8543163',
 '강남어시장': '1937669323',
 '원조닭칼국수': '9956715',
 '국고집': '1292909425',
 '김수사': '10201006',
 '박대박': '1377334197',
 '무탄': '1696571508',
 '전주명가': ' ',
 '계승집': '265003060',
 '명동칼국수샤브샤브': '12572463',
 '천미미': '2010643844',
 '명가한식': '1186348635',
 '바다를 훔친 언니': '372391352',
 '아오끼': '16679184',
 '송화': '160405096',
 '하동관': '26428654',
 '두릉도원 북촌순두부': ' ',
 '토담골49번지': '8127657',
 '연화산': '295975536',
 '천하일품추어탕': '1325964549',
 '내림손 삼계탕': '403548943',
 '아구본가 첨벙 신사본': ' ',
 '명동관': '19852302',
 '우밀가 상록': '1928763865',
 '무화잠': '683635436',
 '금강수림': '14659473',
 '진수사': '8095238',
 '햇무리': '1580031159',
 '옛날집': '17953166',
 '두껍삼': '2011092566',
 '케르반레스토랑 코엑스': ' ',
 '놀부보쌈과 부대찌게 삼성1호': '2025057104',
 '스카이라운지': '8106111',
 '브래서리': '10825881',
 '하꼬네': '14869434',
 '아시안라이브': '21439311',
 '새마을식당': '11825068',
 '영이네': '995044804',
 '구이가': '20102926',
 '영암집': '16850619',
 '만두의 전설': '845899909',
 '언양불고기': '2000969854',
 '리브팜 압구정': '1773527257',
 '골목길': '21525332',
 '초심한우 정육식당': '1755051582',
 '노다지 삼겹살': '27282596',
 '사조참치삼성': '16297664',
 '호보식당': '1955177050',
 '보슬보슬 압구정본': '620066371',
 '남도랑': '10188823',
 '논골집': '8190214',
 '해남집': '10917492',
 '윤화돈까스 기사식당': '471451980',
 '카페비스타': '21344270',
 '와인앤다인': '7954266',
 '대운정': ' ',
 '남도사계고운님': '10165519',
 '주식회사 원강': '27273657',
 '무등산': '7878577',
 '오레노카츠': '1647819710',
 '아리양': '16766210',
 '이남장영동': '16649489',
 '일미원': '8044586',
 '최가네버섯매운탕칼국수': '11844661',
 '오미가': '10637815',
 '정성담에프앤비': '22988001',
 '한일관': '8475048',
 '옛날집 도산사거리': '17674282',
 '연타발': '8000567',
 '마산아구찜': '10357729',
 '화기애애(강남1호': '14095777',
 '봉우리': '20895830',
 '애란궁': '19271016',
 '신복면관': '1162309054',
 '고궁수라간 코엑스': ' ',
 '소풍': '26306839',
 '쭈불앤쭈불': '1288228516',
 '광양불고기본가': '8700542',
 '통영집': '27256514',
 '영동올뱅이집': '10648588',
 '노란상 소갈비 강남직영': '1525298028',
 '신의주찹쌀순대': '16080144',
 '백억하누': '26431943',
 '황금돼지': '2062161393',
 '반하는 보쌈&밥상': '26897651',
 '압구정 샤브샤브': '7990411',
 '금수복국 압구정': '8203089',
 '리엔': '17488355',
 '코너스톤': '8565305',
 '더라운지': '845897149',
 '더팀버하우스': '7827799',
 '대가방': '7815078',
 '잰부닥': '19215962',
 '우리돈삼이': '27440938',
 '수백당': '213776157',
 '석기정': '16905039',
 '유다까': '16036850',
 '어방참치': '16065118',
 '베이징코야강남': ' ',
 '바다풍경': '1057804025',
 '일공': '17761305',
 '어원': '293125397',
 '신촌설렁탕': '17203740',
 '현 우동': '901836680',
 '수담': '25744174',
 '셀럽 앤 어？': '1841482687',
 '홍백': '16616501',
 '하우마라탕': '2104936093',
 '대도식당': '27388660',
 '해초록 사랑': '8674497',
 '정참치': '43312928',
 '하루': '10867025',
 '그림나베 학동역': '57329074',
 '흥부이가': '316697838',
 '교대이층집강남역': '1907052666',
 '닭갈비두목': '1618947990',
 '향촌면옥': '9614833',
 '도라후구현복집': '8163543',
 '파파호': '18738555',
 '주식회사곰바우': '1869730586',
 '와인주막차차 압구정': '25701453',
 '배정철 어도': '8497356',
 '텐파 마라탕 마라샹꿔': '170704200',
 '다정한상': '1325966051',
 '주식회사 양인환대(본': '292351555',
 '분짜라붐': '1811506643',
 '백년육일집': '794434222',
 '대찬횟집': '1392176906',
 '닭으로가': '12445208',
 '막둥이냉면': '989175722',
 '그랜드키친': '8214517',
 '아선재': '663711334',
 '압구정제주집(狎鷗亭濟州緝)': '2058169302',
 '추풍령칼삼겹살': '9474243',
 '순리대로': '5940157',
 '동천홍 학동': '17377605',
 '닭한마리 감자탕': '1114352509',
 '취향의공간': '604735311',
 '봉추찜닭주공공이': '7906948',
 '대가': '15215614',
 '남도구들 한정식': '242235403',
 '대우식당': '7819490',
 '평가옥 푸드시스템': '22424660',
 '예담한우': '27174599',
 '강가': '8140575',
 '꽃새우 영번지': '25968685',
 '강남목장': '8735236',
 '루안': '25155819',
 '리미티드 하누 Limited HANU': '829412960',
 '삼식이감자탕': '330210884',
 '임고집 한우＆보쌈마을': '22876436',
 '뒤끝': '1377224551',
 '사리원': '8348458',
 '임고집 한우＆보쌈마을(2호': '22876436',
 '타워차이': '8111432',
 '창포': '9433027',
 '하영호신촌설렁탕': '11616612',
 '직화전문': '535029883',
 '남순남순대국 본': '11139515',
 '멘무샤': ' ',
 '춘천명물닭갈비': '14920995',
 '취영루': '9507410',
 '남서울민물장어': '8252959',
 '크래버대게나라': '1777540958',
 '마포숯불갈비': '24943998',
 '반룡산': '10406623',
 '진대감': '26565017',
 '강남수랏간': '1537249895',
 '청자골': '8581279',
 '광양불고기': '161409474',
 '하이보': '99687136',
 '군산회집': '8198793',
 '대한민국': '1130198682',
 '김셰프의 도시어부': '259120818',
 '중앙해장': '27531028',
 '금강식당': '13301912',
 '한국돈거래소': '2086436859',
 '지하오': '12137179',
 '갓텐스시강남': '13575898',
 '해담채강남': '2142723351',
 '신정': '8407132',
 '우동명가기리야마본진': '19637934',
 '구레스시': '8210542',
 '주식회사 에도긴': '21332162',
 '가시리': '1947851591',
 '교토': '15191674',
 '본가': '8373000',
 '대청뼈다귀감자탕': '16646669',
 '코리아하우스': '8104260',
 '고센': '10159026',
 '진성식당': '16418709',
 '한티옥': '1466449848',
 '옛골 원조 양평해장국': '24002667',
 '대청가든': '8286860',
 '평양면옥': '23995572',
 '두코 매봉역': '1538997915',
 '이화원': '27150459',
 '본죽': '16904610',
 '룽청': '382166298',
 '한옥집 김치찜 GFC몰': '1714382034',
 '일등추어탕': '27187696',
 '별난횟집': '1891715448',
 '사량도': '26620671',
 '린카': '1406188939',
 '진주성': '492777354',
 '화통집 강남자곡': '1514846440',
 '육전식당 4호': '741391811',
 '본가신의주찹쌀순대전문': '8440324',
 '봉평착한메밀': '27414577',
 '한방대가삼계탕': '12519094',
 '본초강목': '16791024',
 '우림황소양곱창': '15708930',
 '뱃고동': '25046575',
 '서울덮밥&김치찜': '21310899',
 '만족오향족발': '151994010',
 '명인등심(청담유통)': '21401237',
 '신단설렁탕': '1890900295',
 '마쯔가제': '12101050',
 '육갑식당': '1098388849',
 '더 플레이스 코엑스': '26333177',
 '미사리밀빛초계국수': '26897084',
 '천향': '1535590826',
 '신사정육식당': '1390671305',
 '분틀': '1488731354',
 '수하동 본': '2128436288',
 '월출산': '107246805',
 '원조본': '9956715',
 '신촌설렁탕 강남구청역': '1480817290',
 '안뜨레': '1622069784',
 '무교동홍낙(수서': '8996449',
 '로즈힐 강남파이낸스센터': '21331948',
 '르사이공 코엑스몰': '26898618',
 '오늘은 닭': '17344000',
 '영천영화': '1996999092',
 '이영근 만두': '1407897149',
 '풍성옥': '1041024738',
 '한쉐프': '783279596',
 '지강한식당': '2030032655',
 '도원': '11707591',
 '차슈밍': '2105479206',
 '순대실록': '504626344',
 '용수사': '8022618',
 '효미역 압구정': '566314087',
 '기무': '1925683736',
 '밀란': '9011542',
 '모스가든': '540731064',
 '10꼬르소꼬모서울카페': '22400767',
 '현대낙지집': '8148270',
 '초심': '2005467784'}

In [179]:
dict_merged_upso_url.keys()

dict_keys(['이도곰탕', '솥내음 스타필드 코엑스몰', '스시히로바', '서백자 간장게장', '봉산집', '더드림', '국민한우집 삼성역', '이즈미', '홍영재 장수 청국장', '등대', '', '김태준의 탕탕집', '불이아', '경성면옥', '밀밭', '안동찜닭 해물떡찜', '니뽕내뽕(코엑스', '세화정육', '신의주 부대찌개', '지호한방삼계탕', '차이나타운', '오발탄에프에스', '가원', '대흥정 엘에이 갈비', '아야진생태찌개', '수림복국', '평가옥', '바오바오', '곰바위', '황소곱창', '삼성동', '프로간장게장', '해랑', '본가 신의주 찹쌀순대', '이조식당', '공수간 코엑스몰', '명동칼국수', '도모다찌', '예가낙지마을', '동경', '토말', '엠브이샤브샤브', '조수사', '토담골', '시골진지상', '가득드림', '미로정', '한촌설렁탕 선릉역', '유장원보쌈', '강남어시장', '원조닭칼국수', '국고집', '김수사', '박대박', '무탄', '전주명가', '계승집', '명동칼국수샤브샤브', '천미미', '명가한식', '바다를 훔친 언니', '아오끼', '송화', '하동관', '두릉도원 북촌순두부', '토담골49번지', '연화산', '천하일품추어탕', '내림손 삼계탕', '아구본가 첨벙 신사본', '명동관', '우밀가 상록', '무화잠', '금강수림', '진수사', '햇무리', '옛날집', '두껍삼', '케르반레스토랑 코엑스', '놀부보쌈과 부대찌게 삼성1호', '스카이라운지', '브래서리', '하꼬네', '아시안라이브', '새마을식당', '영이네', '구이가', '영암집', '만두의 전설', '언양불고기', '리브팜 압구정', '골목길', '초심한우 정육식당', '노다지 삼겹살', '사조참치삼성', '호보식당', '보슬보슬 압구정본', '남도랑', '논골집', '해남집', '윤화돈까스 기사식당', '카페비스타', '와인앤다인', '대운정', '남도사계고운님', '주식회사 원강', '무등산', '오레노카츠', '아리양', '이남장영동', '일미원', '최가네버섯매운탕칼국수', '오미가', '정성담에프앤비', '한일관', '옛날집 도산사거리', '연타발', '마산아구찜', '화기애애(강남1호', '봉우리', '애란궁', '신복면관', '고궁수라간 코엑스', '소풍', '쭈불앤쭈불', '광양불고기본가', '통영집', '영동올뱅이집', '노란상 소갈비 강남직영', '신의주찹쌀순대', '백억하누', '황금돼지', '반하는 보쌈&밥상', '압구정 샤브샤브', '금수복국 압구정', '리엔', '코너스톤', '더라운지', '더팀버하우스', '대가방', '잰부닥', '우리돈삼이', '수백당', '석기정', '유다까', '어방참치', '베이징코야강남', '바다풍경', '일공', '어원', '신촌설렁탕', '현 우동', '수담', '셀럽 앤 어？', '홍백', '하우마라탕', '대도식당', '해초록 사랑', '정참치', '하루', '그림나베 학동역', '흥부이가', '교대이층집강남역', '닭갈비두목', '향촌면옥', '도라후구현복집', '파파호', '주식회사곰바우', '와인주막차차 압구정', '배정철 어도', '텐파 마라탕 마라샹꿔', '다정한상', '주식회사 양인환대(본', '분짜라붐', '백년육일집', '대찬횟집', '닭으로가', '막둥이냉면', '그랜드키친', '아선재', '압구정제주집(狎鷗亭濟州緝)', '추풍령칼삼겹살', '순리대로', '동천홍 학동', '닭한마리 감자탕', '취향의공간', '봉추찜닭주공공이', '대가', '남도구들 한정식', '대우식당', '평가옥 푸드시스템', '예담한우', '강가', '꽃새우 영번지', '강남목장', '루안', '리미티드 하누 Limited HANU', '삼식이감자탕', '임고집 한우＆보쌈마을', '뒤끝', '사리원', '임고집 한우＆보쌈마을(2호', '타워차이', '창포', '하영호신촌설렁탕', '직화전문', '남순남순대국 본', '멘무샤', '춘천명물닭갈비', '취영루', '남서울민물장어', '크래버대게나라', '마포숯불갈비', '반룡산', '진대감', '강남수랏간', '청자골', '광양불고기', '하이보', '군산회집', '대한민국', '김셰프의 도시어부', '중앙해장', '금강식당', '한국돈거래소', '지하오', '갓텐스시강남', '해담채강남', '신정', '우동명가기리야마본진', '구레스시', '주식회사 에도긴', '가시리', '교토', '본가', '대청뼈다귀감자탕', '코리아하우스', '고센', '진성식당', '한티옥', '옛골 원조 양평해장국', '대청가든', '평양면옥', '두코 매봉역', '이화원', '본죽', '룽청', '한옥집 김치찜 GFC몰', '일등추어탕', '별난횟집', '사량도', '린카', '진주성', '화통집 강남자곡', '육전식당 4호', '본가신의주찹쌀순대전문', '봉평착한메밀', '한방대가삼계탕', '본초강목', '우림황소양곱창', '뱃고동', '서울덮밥&김치찜', '만족오향족발', '명인등심(청담유통)', '신단설렁탕', '마쯔가제', '육갑식당', '더 플레이스 코엑스', '미사리밀빛초계국수', '천향', '신사정육식당', '분틀', '수하동 본', '월출산', '원조본', '신촌설렁탕 강남구청역', '안뜨레', '무교동홍낙(수서', '로즈힐 강남파이낸스센터', '르사이공 코엑스몰', '오늘은 닭', '영천영화', '이영근 만두', '풍성옥', '한쉐프', '지강한식당', '도원', '차슈밍', '순대실록', '용수사', '효미역 압구정', '기무', '밀란', '모스가든', '10꼬르소꼬모서울카페', '현대낙지집', '초심'])

In [178]:
dict_merged_upso_url.values()

dict_values(['14569639', '710342577', '7974994', '24663994', '26317333', '27335171', '1259415579', '21414358', '19838635', '8958910', '12543930', '170461079', '10452008', ' ', '26896916', '1211150938', '27441566', '631696368', '20642173', '19589343', '10769361', '1456391705', '1392972465', '20007819', '19974580', '17154422', '8117481', '26353603', '10157717', '333031201', '27274125', '15227243', '26777815', '8440324', '1544581685', '26894267', '16054618', '13308284', '1751509695', '16986529', '11594198', '11108322', '10800261', '8107787', '9186290', '24808019', '1897959308', '18279510', '8543163', '1937669323', '9956715', '1292909425', '10201006', '1377334197', '1696571508', ' ', '265003060', '12572463', '2010643844', '1186348635', '372391352', '16679184', '160405096', '26428654', ' ', '8127657', '295975536', '1325964549', '403548943', ' ', '19852302', '1928763865', '683635436', '14659473', '8095238', '1580031159', '17953166', '2011092566', ' ', '2025057104', '8106111', '10825881', '14869434', '21439311', '11825068', '995044804', '20102926', '16850619', '845899909', '2000969854', '1773527257', '21525332', '1755051582', '27282596', '16297664', '1955177050', '620066371', '10188823', '8190214', '10917492', '471451980', '21344270', '7954266', ' ', '10165519', '27273657', '7878577', '1647819710', '16766210', '16649489', '8044586', '11844661', '10637815', '22988001', '8475048', '17674282', '8000567', '10357729', '14095777', '20895830', '19271016', '1162309054', ' ', '26306839', '1288228516', '8700542', '27256514', '10648588', '1525298028', '16080144', '26431943', '2062161393', '26897651', '7990411', '8203089', '17488355', '8565305', '845897149', '7827799', '7815078', '19215962', '27440938', '213776157', '16905039', '16036850', '16065118', ' ', '1057804025', '17761305', '293125397', '17203740', '901836680', '25744174', '1841482687', '16616501', '2104936093', '27388660', '8674497', '43312928', '10867025', '57329074', '316697838', '1907052666', '1618947990', '9614833', '8163543', '18738555', '1869730586', '25701453', '8497356', '170704200', '1325966051', '292351555', '1811506643', '794434222', '1392176906', '12445208', '989175722', '8214517', '663711334', '2058169302', '9474243', '5940157', '17377605', '1114352509', '604735311', '7906948', '15215614', '242235403', '7819490', '22424660', '27174599', '8140575', '25968685', '8735236', '25155819', '829412960', '330210884', '22876436', '1377224551', '8348458', '22876436', '8111432', '9433027', '11616612', '535029883', '11139515', ' ', '14920995', '9507410', '8252959', '1777540958', '24943998', '10406623', '26565017', '1537249895', '8581279', '161409474', '99687136', '8198793', '1130198682', '259120818', '27531028', '13301912', '2086436859', '12137179', '13575898', '2142723351', '8407132', '19637934', '8210542', '21332162', '1947851591', '15191674', '8373000', '16646669', '8104260', '10159026', '16418709', '1466449848', '24002667', '8286860', '23995572', '1538997915', '27150459', '16904610', '382166298', '1714382034', '27187696', '1891715448', '26620671', '1406188939', '492777354', '1514846440', '741391811', '8440324', '27414577', '12519094', '16791024', '15708930', '25046575', '21310899', '151994010', '21401237', '1890900295', '12101050', '1098388849', '26333177', '26897084', '1535590826', '1390671305', '1488731354', '2128436288', '107246805', '9956715', '1480817290', '1622069784', '8996449', '21331948', '26898618', '17344000', '1996999092', '1407897149', '1041024738', '783279596', '2030032655', '11707591', '2105479206', '504626344', '8022618', '566314087', '1925683736', '9011542', '540731064', '22400767', '8148270', '2005467784'])

In [31]:
# merged 데이터프레임의 업소 이름, url을 딕셔너리 형태로 생성한 것에서 all_df의 업소 이름에 맞는 id (숫자)를 가져오는 함수 생성
def replace_url(x):
    name = x["keyword"]
    if name in dict_merged_upso_url.keys():
        x["id_mod2"] = dict_merged_upso_url[name]
    else:
        x["id_mod2"] = x["id_mod"]
    return x

In [32]:
# 함수 적용
all_df_mod = all_df.apply(replace_url, axis=1)
all_df_mod.head()

,Unnamed: 0,MGTNO,APVPERMYMD,TRDSTATENM,SITEAREA,SITEPOSTNO,SITEWHLADDR,RDNWHLADDR,BPLCNM,UPTAENM,X,Y,TRDPJUBNSENM,WTRSPLYFACILSENM,dong,exemplary_diner,keyword,id,id_mod,id_mod2
0,0,3220000-101-1007-00001,19970205,영업/정상,NaN,135954,서울특별시 강남구 청담동 88-5번지,서울 강남구 도산대로55길 20,배초향,한식,203520.881091,446950.285626,NaN,NaN,청담동,NaN,배초향,None,,
1,1,3220000-101-1899-20451,19991005,영업/정상,950.66,135090,서울특별시 강남구 삼성동 159,서울 강남구 봉은사로 524,브래서리,경양식,205130.591679,445590.096838,기타,상수도전용,삼성동,모범식당지정,브래서리,[10825881],10825881,10825881
2,2,3220000-101-1899-20453,19991005,영업/정상,473.24,135090,서울특별시 강남구 삼성동 159,서울 강남구 봉은사로 524,로비라운지,경양식,205130.591679,445590.096838,기타,상수도전용,삼성동,NaN,로비라운지,[727661240],727661240,727661240
3,3,3220000-101-1899-20463,19991006,영업/정상,282.59,135090,서울특별시 강남구 삼성동 159,서울 강남구 봉은사로 524,로비바,경양식,205130.591679,445590.096838,기타,상수도전용,삼성동,NaN,로비바,[21550576],21550576,21550576
4,4,3220000-101-1899-20500,19991012,영업/정상,"1,157.90",135873,서울특별시 강남구 삼성동 109-6,서울 강남구 봉은사로 637,노블발렌티,한식,205662.873886,445913.719788,결혼예식장주변,상수도전용,삼성동,NaN,노블발렌티,"[17157328, 26597965]",17157328,17157328

In [33]:
# merged 데이터프레임에서 url 빈 것들 개수
merged[merged.url == " "].shape

(9, 22)

In [34]:
# replace_url 함수 적용한 all_df_mod 데이터프레임에서 url 빈 것들 개수
# -> 9개여야 하는데 23개이다
all_df_mod[(all_df_mod.exemplary_diner.notnull()) & (all_df_mod.id_mod2 == " ")].shape

(23, 20)

In [35]:
# replace_url 함수 적용한 all_df_mod 데이터프레임에서 url 빈 것들 업소 이름 확인
all_df_mod[(all_df_mod.exemplary_diner.notnull()) & (all_df_mod.id_mod2 == " ")]["keyword"]

235      아구본가 첨벙 신사본
430               나무
695      신의주 부대찌개 삼성
702             전주명가
754       지강한식당 압구정본
1183        원조본점닭한마리
1691        삼성동 명인등심
1702        뉴욕바닷가재청담
1769            경성면옥
2785             단스시
3378        아구본가첨벙대치
3789         베이징코야강남
4980       별난횟집 역삼직영
5126       고궁수라간 코엑스
5134      두릉도원 북촌순두부
5208             멘무샤
5224            니뽕내뽕
5225     케르반레스토랑 코엑스
5695              양문
6124        두껍삼 역삼직영
6272             대운정
6579         분짜라붐 역삼
10996        수백당 삼성동
Name: keyword, dtype: object

In [36]:
# replace_url 함수 적용한 all_df_mod 데이터프레임에서 url 빈 것들 검색
# -> url 숫자 직접 채워 넣음
no_urls = [np.nan,
           "15500067",
           "20642173",
           np.nan,
           "2030032655",
           "9956715",
           "27274125",
           "8216639",
           np.nan,
           "8306074", # 단스시
           "16534533",
           np.nan,
           "1891715448",
           np.nan,
           np.nan,
           np.nan,
           "27441566",
           np.nan,
           "1054657548",
           "2011092566",
           np.nan,
           "1811506643",
           "213776157"]

In [37]:
no_urls_filled = pd.Series(no_urls, index=all_df_mod[(all_df_mod.exemplary_diner.notnull()) & (all_df_mod.id_mod2 == " ")]
["id_mod2"].index)

In [341]:
no_urls_filled.index

Index([  235,   430,   695,   702,   754,  1183,  1691,  1702,  1769,  2785,
        3378,  3789,  4980,  5126,  5134,  5208,  5224,  5225,  5695,  6124,
        6272,  6579, 10996],
      dtype='int64')

In [342]:
no_urls_filled.values

array([nan, '15500067', '20642173', nan, '2030032655', '9956715',
       '27274125', '8216639', nan, '8306074', '16534533', nan,
       '1891715448', nan, nan, nan, '27441566', nan, '1054657548',
       '2011092566', nan, '1811506643', '213776157'], dtype=object)

In [38]:
# id_mod2 (url) 빈 숫자 채워 넣는다
all_df_mod.loc[no_urls_filled.index, "id_mod2"] = no_urls_filled.values

In [39]:
all_df_mod[(all_df_mod.exemplary_diner.notnull()) & (all_df_mod.id_mod2.isna())].shape

(9, 20)

In [40]:
all_df_mod[all_df_mod.keyword.isna()]

Empty DataFrame
Columns: [Unnamed: 0, MGTNO, APVPERMYMD, TRDSTATENM, SITEAREA, SITEPOSTNO, SITEWHLADDR, RDNWHLADDR, BPLCNM, UPTAENM, X, Y, TRDPJUBNSENM, WTRSPLYFACILSENM, dong, exemplary_diner, keyword, id, id_mod, id_mod2]
Index: []

In [354]:
# keyword가 비어있는 row의 id_mod2 컬럼이 12543930로 들어가 있는 것 확인
all_df_mod[all_df_mod.keyword == ""].shape

(11, 20)

In [42]:
all_df_mod[all_df_mod.id_mod2=="12543930"]

,Unnamed: 0,MGTNO,APVPERMYMD,TRDSTATENM,SITEAREA,SITEPOSTNO,SITEWHLADDR,RDNWHLADDR,BPLCNM,UPTAENM,X,Y,TRDPJUBNSENM,WTRSPLYFACILSENM,dong,exemplary_diner,keyword,id,id_mod,id_mod2
247,247,3220000-101-1990-07507,19901101,영업/정상,31.73,135860,서울특별시 강남구 도곡동 954-19번지,서울 강남구 남부순환로355길 13,(신)오양절면,한식,203087.887972,442628.722914,기타,상수도전용,도곡동,NaN,,[338342608],338342608,12543930
994,994,3220000-101-1998-12691,19981029,영업/정상,94.63,135515,서울특별시 강남구 역삼동 787-1번지,서울 강남구 논현로64길 22,(중화요리)남경,중국식,203668.426416,443485.604196,기타,상수도전용,역삼동,NaN,,[10960059],10960059,12543930
1432,1432,3220000-101-2000-22499,2000-09-27,영업/정상,677.61,135-731,서울특별시 강남구 삼성동 159 코엑스,서울 강남구 영동대로 513,(유)아웃백스테이크하우스코리아 코엑스스타필드점,경양식,205130.591679,445590.096838,NaN,NaN,삼성동,NaN,,[16877892],16877892,12543930
3543,3543,3220000-101-2010-00073,20100204,영업/정상,28.00,135824,서울특별시 강남구 논현동 157-0번지 지상1층,서울 강남구 강남대로122길 52,스파게티 스토리,김밥(도시락),202334.481225,445197.044292,NaN,상수도전용,논현동,NaN,스파게티 스토리,[12543930],12543930,12543930
3866,3866,3220000-101-2011-00114,20110223,영업/정상,81.78,135955,서울특별시 강남구 청담동 122-7 1층,서울 강남구 도산대로85길 14,(첼시스 하이볼) Chelsea's HIGHBALL,일식,204279.144297,447023.007955,NaN,NaN,청담동,NaN,,[19153490],19153490,12543930
4031,4031,3220000-101-2011-00686,20110811,영업/정상,49.50,135515,서울특별시 강남구 역삼동 781-41 지상1층102호,서울 강남구 논현로66길 9,(SOS)커피 역삼점,경양식,203566.263883,443554.896146,NaN,NaN,역삼동,NaN,,[14600986],14600986,12543930
4511,4511,3220000-101-2013-00033,20130117,영업/정상,177.28,135911,서울특별시 강남구 역삼동 646-4번지,서울 강남구 강남대로94길 86,(이층) 맥주창고,경양식,202951.131852,444272.491202,NaN,NaN,역삼동,NaN,,None,,12543930
6054,6054,3220000-101-2016-00899,2016-10-21,영업/정상,507.39,135-825,서울특별시 강남구 논현동 165,서울 강남구 강남대로 502,(유)아웃백스테이크하우스코리아 강남점,경양식,202024.615630,444994.659485,NaN,NaN,논현동,NaN,,[522500805],522500805,12543930
8697,8697,3220000-101-2020-01279,20201030,영업/정상,268.98,135896,서울특별시 강남구 신사동 637-11,서울 강남구 압구정로42길 12,(끌레오)CLO,한식,203049.750409,447323.452649,NaN,NaN,신사동,NaN,,[1495236287],1495236287,12543930
9148,9148,3220000-101-2021-00506,20210503,영업/정상,33.00,135949,서울특별시 강남구 청담동 9-12,서울 강남구 학동로77길 50,(유노시엘) EUNOSIERE,기타,204171.424581,446636.433530,NaN,NaN,청담동,NaN,,[118575691],118575691,12543930
9354,9354,3220000-101-2021-00858,20210708,영업/정상,159.25,135915,서울특별시 강남구 역삼동 676 센터필드,서울 강남구 테헤란로 231,(유)한국집 센터필드 역삼점,한식,203599.062772,444556.062267,NaN,NaN,역삼동,NaN,,[1872560550],1872560550,12543930
9467,9467,3220000-101-2021-01055,2021-08-30,영업/정상,236.38,135-896,서울특별시 강남구 신사동 648-11 제성씨티빌딩,서울 강남구 도산대로49길 15,(피피)PP,기타,203204.514602,446850.497925,NaN,NaN,신사동,NaN,,[578716545],578716545,12543930

In [44]:
all_df_mod.loc[247:250]

,Unnamed: 0,MGTNO,APVPERMYMD,TRDSTATENM,SITEAREA,SITEPOSTNO,SITEWHLADDR,RDNWHLADDR,BPLCNM,UPTAENM,X,Y,TRDPJUBNSENM,WTRSPLYFACILSENM,dong,exemplary_diner,keyword,id,id_mod,id_mod2
247,247,3220000-101-1990-07507,19901101,영업/정상,31.73,135860,서울특별시 강남구 도곡동 954-19번지,서울 강남구 남부순환로355길 13,(신)오양절면,한식,203087.887972,442628.722914,기타,상수도전용,도곡동,NaN,,[338342608],338342608,12543930
248,248,3220000-101-1990-07519,1990-06-22,영업/정상,97.90,135-841,서울특별시 강남구 대치동 906,서울 강남구 선릉로76길 24,양문,한식,204574.569178,444393.323912,NaN,NaN,대치동,NaN,양문,[912331600],912331600,912331600
249,249,3220000-101-1990-07548,19900330,영업/정상,210.71,135877,서울특별시 강남구 삼성동 143-30번지,서울 강남구 삼성로91길 28,강성환차이나,중국식,204698.725555,444950.288061,유흥업소밀집지역,상수도전용,삼성동,NaN,강성환차이나,None,,
250,250,3220000-101-1990-07591,19900817,영업/정상,28.89,135928,서울특별시 강남구 역삼동 773-8번지,서울 강남구 언주로 323,계몽돈까스,분식,203915.714136,443839.427549,기타,상수도전용,역삼동,NaN,계몽돈까스,[1411235044],1411235044,1411235044

In [48]:
all_df_mod.shape[0]

12528

In [51]:
all_df_mod.loc[12500:12527]

,Unnamed: 0,MGTNO,APVPERMYMD,TRDSTATENM,SITEAREA,SITEPOSTNO,SITEWHLADDR,RDNWHLADDR,BPLCNM,UPTAENM,X,Y,TRDPJUBNSENM,WTRSPLYFACILSENM,dong,exemplary_diner,keyword,id,id_mod,id_mod2
12500,12500,3220000-101-2024-00487,2024-04-18,영업/정상,13.90,135-897,서울특별시 강남구 신사동 657-26,서울 강남구 도산대로51길 37,쭈니네 츄러스 압구정점,기타,203290.131851,447051.960056,NaN,NaN,신사동,NaN,쭈니네 츄러스 압구정,None,,
12501,12501,3220000-101-2024-00488,2024-04-19,영업/정상,30.00,135-916,서울특별시 강남구 역삼동 683-11 한국빌딩,서울 강남구 선릉로 565,주식회사 컬처앤비,기타,203830.254782,445195.243114,NaN,NaN,역삼동,NaN,주식회사 컬처앤비,None,,
12502,12502,3220000-101-2024-00489,2024-04-19,영업/정상,59.79,135-935,서울특별시 강남구 역삼동 826-14 강남358타워,서울 강남구 강남대로 358,모닥스낵 강남358타워점,분식,202557.007831,443648.622540,NaN,NaN,역삼동,NaN,모닥스낵 강남358타워,None,,
12503,12503,3220000-101-2024-00490,2024-04-19,영업/정상,15.00,135-833,서울특별시 강남구 논현동 278-14,서울 강남구 봉은사로51길 3-3,구름족,한식,203686.143918,445344.679446,NaN,NaN,논현동,NaN,구름족,None,,
12504,12504,3220000-101-2024-00491,2024-04-19,영업/정상,46.45,135-501,서울특별시 강남구 대치동 989-2,서울 강남구 도곡로 510,싸움의 고수 대치점,한식,205408.737773,444079.844884,NaN,NaN,대치동,NaN,싸움의 고수 대치,None,,
12505,12505,3220000-101-2024-00492,2024-04-19,영업/정상,132.00,135-917,서울특별시 강남구 역삼동 696-17,서울 강남구 선릉로93길 10,남부 선릉점,식육(숯불구이),204132.541000,444816.366138,NaN,NaN,역삼동,NaN,남부 선릉,None,,
12506,12506,3220000-101-2024-00493,2024-04-19,영업/정상,50.04,135-502,서울특별시 강남구 대치동 997 오로라빌딩,서울 강남구 테헤란로 624,로스터리 젠,기타,205758.453961,445233.652528,NaN,NaN,대치동,NaN,로스터리 젠,None,,
12507,12507,3220000-101-2024-00494,2024-04-19,영업/정상,81.42,135-925,서울특별시 강남구 역삼동 752-38,서울 강남구 역삼로11길 3-3,케이 바(K Bar),감성주점,202941.543753,443615.146844,NaN,NaN,역삼동,NaN,케이 바,None,,
12508,12508,3220000-101-2024-00495,2024-04-19,영업/정상,391.53,135-931,서울특별시 강남구 역삼동 816-6,서울 강남구 테헤란로1길 29,팀호완 강남점,중국식,202344.864503,444215.048140,NaN,NaN,역삼동,NaN,팀호완 강남,None,,
12509,12509,3220000-101-2024-00496,2024-04-22,영업/정상,0.00,135-902,서울특별시 강남구 압구정동 494 갤러리아백화점,서울 강남구 압구정로 343,본작(한시적),기타,203470.848439,447369.579852,NaN,NaN,압구정동,NaN,본작,None,,
12510,12510,3220000-101-2024-00497,2024-04-22,영업/정상,20.59,135-918,서울특별시 강남구 역삼동 706-12,서울 강남구 언주로90길 8,강남횟집,일식,203811.181257,444450.075909,NaN,NaN,역삼동,NaN,강남횟집,None,,
12511,12511,3220000-101-2024-00498,2024-04-22,영업/정상,22.80,135-825,서울특별시 강남구 논현동 147-21,서울 강남구 학동로6길 43,토스트마켓,한식,202237.595472,445278.214906,NaN,NaN,논현동,NaN,토스트마켓,None,,
12512,12512,3220000-101-2024-00499,2024-04-22,영업/정상,70.54,135-804,서울특별시 강남구 개포동 189 개포자이 프레지던스,서울 강남구 삼성로 14,곤트란쉐리에 개포자이프레지던스점,경양식,206239.623997,442598.512990,NaN,NaN,개포동,NaN,곤트란쉐리에 개포자이프레지던스,None,,
12513,12513,3220000-101-2024-00500,2024-04-22,영업/정상,22.80,135-936,서울특별시 강남구 역삼동 832-41 현죽빌딩,서울 강남구 역삼로 114,빌런스,분식,202731.250000,443440.045000,NaN,NaN,역삼동,NaN,빌런스,None,,
12514,12514,3220000-101-2024-00501,2024-04-22,영업/정상,26.40,135-888,서울특별시 강남구 신사동 521,서울 강남구 강남대로162길 20,스위시 신사점(SUWiSH!),일식,201728.343289,446420.445308,NaN,NaN,신사동,NaN,스위시 신사,None,,
12515,12515,3220000-101-2024-00502,2024-04-22,영업/정상,35.82,135-934,서울특별시 강남구 역삼동 825-20 강남역 센트럴 푸르지오 시티,서울 강남구 테헤란로4길 6,오트보트,분식,202520.972244,443946.832939,NaN,NaN,역삼동,NaN,오트보트,None,,
12516,12516,3220000-101-2024-00503,2024-04-22,영업/정상,49.63,135-200,서울특별시 강남구 자곡동 655 강남푸르지오시티 2차,서울 강남구 자곡로 192,오사카 교자바,일식,209135.581425,441361.805589,NaN,NaN,자곡동,NaN,오사카 교자바,None,,
12517,12517,3220000-101-2024-00504,2024-04-22,영업/정상,55.00,135-835,서울특별시 강남구 대치동 316 은마아파트,서울 강남구 삼성로 212,극강은마,일식,205707.089400,443914.194133,NaN,NaN,대치동,NaN,극강은마,NaN,,
12518,12518,3220000-101-2024-00505,2024-04-22,영업/정상,173.00,135-834,서울특별시 강남구 대치동 78-29,서울 강남구 역삼로107길 20-28,태영식당,뷔페식,205967.911304,444775.652452,NaN,NaN,대치동,NaN,태영식당,NaN,,
12519,12519,3220000-101-2024-00506,2024-04-22,영업/정상,NaN,135-731,서울특별시 강남구 삼성동 159 코엑스,서울 강남구 영동대로 513,스페이스바(한시적),경양식,205130.591679,445590.096838,NaN,NaN,삼성동,NaN,스페이스바,NaN,,
12520,12520,3220000-101-2024-00507,2024-04-22,영업/정상,90.59,135-825,서울특별시 강남구 논현동 167-30,서울 강남구 봉은사로1길 38,라운지7485(Lounge7485),경양식,202072.506696,445004.640984,NaN,NaN,논현동,NaN,라운지7485,NaN,,
12521,12521,3220000-101-2024-00508,2024-04-22,영업/정상,30.00,135-904,서울특별시 강남구 압구정동 481 현대아파트,서울 강남구 압구정로 309,올키친,한식,203062.784523,447663.862577,NaN,NaN,압구정동,NaN,올키친,NaN,,
12522,12522,3220000-101-2024-00509,2024-04-23,영업/정상,19.00,135-920,서울특별시 강남구 역삼동 719-24 역삼역센트럴푸르지오,서울 강남구 언주로85길 32,한조,일식,203519.270922,444294.842474,NaN,NaN,역삼동,NaN,한조,NaN,,
12523,12523,3220000-101-2024-00510,2024-04-23,영업/정상,81.00,135-812,서울특별시 강남구 논현동 27 노블빌딩,서울 강남구 논현로145길 41,EPIK 에픽,한식,202223.582536,446044.245465,NaN,NaN,논현동,NaN,EPIK 에픽,NaN,,
12524,12524,3220000-101-2024-00511,2024-04-23,영업/정상,33.05,135-814,서울특별시 강남구 논현동 23-10,서울 강남구 강남대로136길 23,(주)탭샵바,경양식,201909.686539,445710.536195,NaN,NaN,논현동,NaN,탭샵바,NaN,,
12525,12525,3220000-101-2024-00512,2024-04-23,영업/정상,140.49,135-825,서울특별시 강남구 논현동 148-13,서울 강남구 강남대로124길 68,밥한민국,한식,202335.109233,445416.506981,NaN,NaN,논현동,NaN,밥한민국,NaN,,
12526,12526,3220000-101-2024-00513,2024-04-23,영업/정상,18.00,135-915,서울특별시 강남구 역삼동 669-9,서울 강남구 봉은사로30길 73,국밥주는 냉면집,한식,203211.859171,444523.693912,NaN,NaN,역삼동,NaN,국밥주는 냉면집,NaN,,
12527,12527,3220000-101-2024-00514,2024-04-23,영업/정상,65.86,135-200,서울특별시 강남구 자곡동 651 강남유탑유블레스,서울 강남구 자곡로 180,김가네 강남자곡점,한식,209044.652572,441272.313973,NaN,NaN,자곡동,NaN,김가네 강남자곡,NaN,,

In [41]:
all_df_mod[all_df_mod.id_mod2=="12543930"].shape

(12, 20)

In [363]:
# id_mod2에 12543930로 중복되는 값들 id_mod에서 index를 찾아 대체
dup_index = all_df_mod[all_df_mod.keyword == ""].index
all_df_mod.loc[dup_index, "id_mod2"] = all_df_mod["id_mod"].loc[dup_index]

In [364]:
all_df_mod[all_df_mod.keyword == ""]

,Unnamed: 0,MGTNO,APVPERMYMD,TRDSTATENM,SITEAREA,SITEPOSTNO,SITEWHLADDR,RDNWHLADDR,BPLCNM,UPTAENM,X,Y,TRDPJUBNSENM,WTRSPLYFACILSENM,dong,exemplary_diner,keyword,id,id_mod,id_mod2
247,247,3220000-101-1990-07507,19901101,영업/정상,31.73,135860,서울특별시 강남구 도곡동 954-19번지,서울 강남구 남부순환로355길 13,(신)오양절면,한식,203087.887972,442628.722914,기타,상수도전용,도곡동,NaN,,[338342608],338342608,338342608
994,994,3220000-101-1998-12691,19981029,영업/정상,94.63,135515,서울특별시 강남구 역삼동 787-1번지,서울 강남구 논현로64길 22,(중화요리)남경,중국식,203668.426416,443485.604196,기타,상수도전용,역삼동,NaN,,[10960059],10960059,10960059
1432,1432,3220000-101-2000-22499,2000-09-27,영업/정상,677.61,135-731,서울특별시 강남구 삼성동 159 코엑스,서울 강남구 영동대로 513,(유)아웃백스테이크하우스코리아 코엑스스타필드점,경양식,205130.591679,445590.096838,NaN,NaN,삼성동,NaN,,[16877892],16877892,16877892
3866,3866,3220000-101-2011-00114,20110223,영업/정상,81.78,135955,서울특별시 강남구 청담동 122-7 1층,서울 강남구 도산대로85길 14,(첼시스 하이볼) Chelsea's HIGHBALL,일식,204279.144297,447023.007955,NaN,NaN,청담동,NaN,,[19153490],19153490,19153490
4031,4031,3220000-101-2011-00686,20110811,영업/정상,49.50,135515,서울특별시 강남구 역삼동 781-41 지상1층102호,서울 강남구 논현로66길 9,(SOS)커피 역삼점,경양식,203566.263883,443554.896146,NaN,NaN,역삼동,NaN,,[14600986],14600986,14600986
4511,4511,3220000-101-2013-00033,20130117,영업/정상,177.28,135911,서울특별시 강남구 역삼동 646-4번지,서울 강남구 강남대로94길 86,(이층) 맥주창고,경양식,202951.131852,444272.491202,NaN,NaN,역삼동,NaN,,None,,
6054,6054,3220000-101-2016-00899,2016-10-21,영업/정상,507.39,135-825,서울특별시 강남구 논현동 165,서울 강남구 강남대로 502,(유)아웃백스테이크하우스코리아 강남점,경양식,202024.615630,444994.659485,NaN,NaN,논현동,NaN,,[522500805],522500805,522500805
8697,8697,3220000-101-2020-01279,20201030,영업/정상,268.98,135896,서울특별시 강남구 신사동 637-11,서울 강남구 압구정로42길 12,(끌레오)CLO,한식,203049.750409,447323.452649,NaN,NaN,신사동,NaN,,[1495236287],1495236287,1495236287
9148,9148,3220000-101-2021-00506,20210503,영업/정상,33.00,135949,서울특별시 강남구 청담동 9-12,서울 강남구 학동로77길 50,(유노시엘) EUNOSIERE,기타,204171.424581,446636.433530,NaN,NaN,청담동,NaN,,[118575691],118575691,118575691
9354,9354,3220000-101-2021-00858,20210708,영업/정상,159.25,135915,서울특별시 강남구 역삼동 676 센터필드,서울 강남구 테헤란로 231,(유)한국집 센터필드 역삼점,한식,203599.062772,444556.062267,NaN,NaN,역삼동,NaN,,[1872560550],1872560550,1872560550
9467,9467,3220000-101-2021-01055,2021-08-30,영업/정상,236.38,135-896,서울특별시 강남구 신사동 648-11 제성씨티빌딩,서울 강남구 도산대로49길 15,(피피)PP,기타,203204.514602,446850.497925,NaN,NaN,신사동,NaN,,[578716545],578716545,578716545

In [366]:
# url 채운 파일 csv로 저장
all_df_mod.to_csv("data/request_reviews.csv", index=False, encoding="utf-8")